@{
    ViewBag.Title = "App_offline";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="maintenence-wrapper">
    <img src="~/Content/images/maintenence-icon.png" />
    <span>Gameplan<sup>TM</sup> is currently under maintenance.</span>
    <p>Last updated: @ViewBag.LastUpdated</p>
</div>
