@model RevenuePlanner.Models.ForgotPasswordModel
<style>
    
</style>
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "frmForgotPassword", @class = "form-forgot-password", name = "forgot-password" }))
{
    <h2 class="primary-title source-sans-prosemibold">Reset Password</h2>
    if (Model.IsSuccess == false)
    {
        <p class="source-sans-prosemibold" style="font-weight:normal;">
            Please enter your email and we'll send password reset instructions.
        </p>
        @Html.TextBoxFor(f => f.UserEmail, new { maxlength = "200", @class = "input-block-level conv_helveticaltstd-light", placeholder = "Email", required = "required"})
        <button class="btn btn-large conv-proximanova-light" type="submit" value="Submit">Submit</button>
    }
    else
    {
         <p class="source-sans-prosemibold" style="font-weight:normal;">
            Instructions to reset your password have been sent to the address provided.
        </p>
        <br />
        <p class="source-sans-prosemibold" style="font-weight:normal;">
            Please check your inbox and spam folder
        </p>
    }
}

<script type="text/javascript">

    $(document).ready(function () {
        if ($('#cErrors').html() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
        }
    });

</script>
