@model RevenuePlanner.Models.LoginModel
@using RevenuePlanner.Controllers.Filters;

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string sessionTimeoutErrMsg = TempData["SessionTimeOut"] != null ? TempData["SessionTimeOut"].ToString().ToLower() : string.Empty;
    var AntiForgeryToken = Request.RequestContext.HttpContext.GetAntiForgeryToken();
}
@using (Html.BeginForm("", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "frmLogin", @class = "form-signin", name = "login-register" }))
{
    @AntiForgeryToken
   
    <h2 class="primary-title source-sans-prosemibold">Secure Login</h2>
    @Html.TextBoxFor(u => u.UserEmail, new { maxlength = "200", @class = "input-block-level conv_helveticaltstd-light", placeholder = "Email", required = "required" })
    @Html.PasswordFor(u => u.Password, new { maxlength = "50", @class = "input-block-level conv_helveticaltstd-light", placeholder = "Password", required = "required" })
    <button class="btn btn-large conv-proximanova-light" type="submit" value="Submit">Sign In</button>
    <a href="@Url.Action("ForgotPassword","Login")" id="ForgotPassword" class="conv-proximanova-light">Forgot Password</a>
    
}

<script type="text/javascript">

    $(document).ready(function () {
        if ($('#cErrors').html() == '') {
            $("#errorMessage").slideUp(400);
        }
        else {
            $("#errorMessage").slideDown(400);
        }
        if ('@sessionTimeoutErrMsg'=='true') {
            $("#TimeOuterrorMessage").slideDown(400);
        }
        else {
            $("#TimeOuterrorMessage").slideUp(400);
        }

        $("#UserEmail").focus();    //// Added by :- Sohel Pathan on 25/04/2014 for Internal Review Points to set focus on Email textbox on Page load.

        //alert(_AntiForgeryToken);
    });
</script>
