@model RevenuePlanner.Models.SecurityQuestionListModel

@{
    ViewBag.Title = "Set Security Question";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

@using (Html.BeginForm("SetSecurityQuestion", "Login", FormMethod.Post, new { id = "frmSetSecurityQuestion", @class = "form-forgot-password dark-shadow", name = "Set-Security-Question" }))
{
    <h2 class="primary-title source-sans-prosemibold">Welcome to Gameplan</h2>
        <p class="conv-proximanova-light">
            Let's set up your security question. This will serve as an verification step when resetting your password. 
        </p>
        
        var strValidation = "^(?:|^[^<>~%^;/|]+)$";
            
        @Html.DropDownListFor(f => f.SecurityQuestionId, new SelectList(Model.SecurityQuestionList, "Value", "Text", Model.SecurityQuestionId), "Select Security Question", new { @class = "select-box", pattern = strValidation, @required = "required" })
        @Html.TextBoxFor(f => f.Answer, new { maxlength = "255", @class = "input-block-level conv_helveticaltstd-light", placeholder = "Answer", required = "required" })
        <button class="btn btn-large conv-proximanova-light" type="submit" value="Submit">Submit</button>
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#ReturnToSignIn").css("display", "none");
        $("#divOverlay").css("display", "block");

    });

</script>
