@model RevenuePlanner.Models.SecurityQuestionListModel

@{
    ViewBag.Title = "Set Security Question";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

@using (Html.BeginForm("SetSecurityQuestion", "Login", FormMethod.Post, new { id = "frmSetSecurityQuestion", @class = "form-forgot-password dark-shadow", name = "Set-Security-Question" }))
{
    <h2 class="primary-title source-sans-prosemibold">Welcome to Gameplan</h2>
        <p class="source-sans-prosemibold" style="font-weight:normal;">
            Let's set up your security question. This will serve as an verification step when resetting your password. 
        </p>
        
        var strValidation = "^(?:|^[^<>~%^;/|]+)$";
            
    <div class="selectBox UserProfile" id="ddlSecurityQuestionSelectBox">
        @Html.DropDownListFor(f => f.SecurityQuestionId, new SelectList(Model.SecurityQuestionList, "Value", "Text"),"Select Security Question", new { @class = "hide" })
       
    </div>
    

        @Html.TextBoxFor(f => f.Answer, new { maxlength = "255", @class = "input-block-level conv_helveticaltstd-light", placeholder = "Answer", required = "required" })
    @Html.ValidationMessageFor(model => model.Answer)
     
    <button id="btnSubmit" class="btn btn-large conv-proximanova-light" type="submit" value="Submit">Submit</button>
    
}

<script type="text/javascript">

    $(document).ready(function () {
        $(".selectBox select").selectbox();
        $("#ReturnToSignIn").css("display", "none");
        $("#divOverlay").css("display", "block");
    });

        $('#btnSubmit').click(function () {
            var isValid = true;
        var isValueSelected = $('#ddlSecurityQuestionSelectBox .sbSelector').html();
        if (isValueSelected == "Select Security Question") {
        
                $("#ddlSecurityQuestionSelectBox .sbHolder").addClass("selectBoxError");
                isValid = false;
                return isValid;
            }
            else {
                $("#ddlSecurityQuestionSelectBox .sbHolder").removeClass("selectBoxError");
            return isValid;
            }

        });
</script>
