    <span id="totalEntity" class="badge">0</span>
    <!-- honeycomb svg -->
    <svg id="honeycomb" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
    <style type="text/css">

</style>
    <g>
    <g>
	                       
    <image style="overflow:visible;opacity:0.25;" width="84" height="84" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAACXBIWXMAAAsSAAALEgHS3X78AAAA
	        GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAB8xJREFUeNrsnQt32kYQhXclAQaD
	        nSZ2mkfdPPr//1KbNnbSJI7jGAzGNqjSOXeSy3T1RGBA0jlzkDEC8enOzO5od7FmMzZb0fuEu/JF
	        lvlcS3/bJUGGCmq4y0A1NA/7Hu3bEucUks1hsq9hr3wL1gxSwPnYD8h8BbYIzBjeLLJ7MnmO4a4c
	        rF3xe1ulQh/wWpG1I+tEtof9Nv6XFyrDjAHewm4im2L/Dv+bKfWGqwJr1wDSB8AWAMbWjawXWT+y
	        fex38ZogR0xlN74HuElk48iuIxthfwK4U7zmjuCuBGywItf2CSQDjOENYAdkfbymQ66fZxO3ngJe
	        DPKKbAi7VoAF7KzqUBBUrEpPgewRvEfKDmEHAN2F25cBegtY1wD5HXapTCCPFdh5VVCDCmFKfGSQ
	        MbgnsKPIHsMekVL7iKMdSk5FkpIkoyni54iUGUO8gJ1H9hV2qcDek1rDh4yhrMo2VNYHsBjg08h+
	        xeMxYB4CZI/cvGhCSktMU4qnQyg1Bvolss+RfcLjOcCO8PpbFV/XrlBLTZ8O3PYQaowBPo/sRWTP
	        FMx9yuytJZpMaU2nO8r417i4R+Qlh7jwn6HY73jdlJpc4TqBCswW4PRxogLyJew5YP5CqhSQPrl3
	        2Ua9hhrg/SXhSEtiAIgcvzkZSuwe4SLclYUaVABzgCsfw/stshM8CsxHSpV+Qs/ILukt3JTyqL3L
	        TbV9QOxTk42B8jmUghosCfMAMGM1voL9DphPoISeI+HYimJ4UrMtpO4tN+G4M9GD7SmgS0ENloR5
	        DJivI3sDoC8AeeBoClmznvqBhmsdPbWOiuNJ51cIalARzLd4fAmYB3hdSxU/Hqqy5eq9BaTerPPL
	        DTUoADNQMVNg/pEB0z4gTNf3sBlmHKXAMG/2D3JeXR8u0lcwWZnHBDPYMJjGUTpspYB0lQXDPKXA
	        ICfMNjLiYyScV4iZLpitB3bxoiEgq107Uw3+1B5VlkLF1bvI2E/RJJKMnubmm75xXsgqCd5S9zRU
	        RZVcQF2u/gTqPEHT6MUWw0yCGhKwOzTyJ6pKNU8rpqQBlbZbD43zp1CkNNqPEmLmtm066YZUwdL1
	        1anjbsDC5md8QBfdRombb/H4DM9LV9IrUHLbVKjGkUjnpFSxW4Jq8gD1yNUHUOYJYL4hV+9TQdhu
	        qTqzEpYuYE+orz8zjoq/n6LOHmV16QmdoBwnru5vsaunlTJ5XxewJ8r1TRZQVucxYqZ0K5+Tq7cK
	        FoO3SaHcbZ0T0BFB1dX+H+6t38xTyeiI6pmDHUhCZXqGj8HgCEx6ST1BLyV+SuVdblscUBLydxSm
	        9tQ2vvOBWbx9w/nDy1JoQEVjASoV7vaOJaG8vcQ+GDBQ8VSnQi3F1BaaS3KT7ZBcvbXDrp5VYeOq
	        v5QmW5SHrFao55D5Yc1cPY/ru5h4SS4v8XOfDtZXw9ZIodbhtTyWoKNF5iVkNgE6oAODGsF05RUR
	        2oCA/q/F46nmEh8oN7K6NXV3l9t3zeINvo4Car2EgsgeDu66DqqhQllswmXP1bnxEg6Uu4PtGsM0
	        Zdh4CUFYW11hFmbjZVRbbAOzGBsvx8HNVoCN1/CpdmuANkAboA3QZmuANkDrBnSls822fEtl46W8
	        OGzAFmfjOQ6YOazuUHOz8dQBer4PDzupK9RCbLRCk0ad1RWqhpk2JOeHQl0HyYgzPcusrgrl4TjC
	        xTVRLGSXF6Ay+0wmmvKBdVUoC20INtdgtTD23uXyU7M4q3doFsfy1AWqHnw7MT/njl6R0GaupGTM
	        4lTpMQG9wt91dPswJ5O5K8sbx9W4JJUuNQdyS2HygFtR56XDa02Sy4cUR0fm53zz7/j7tiZuHyp1
	        jszPaeIyJfzGlVd0T4lH7DLQi5q5vsvVLxTQqckYHxoqmY9xcDxR/wvebOjKbDvq6vfk6rKAgSxa
	        MFbh7wcH1whmhs0395NWr9mlm3k84esGyowXKXgf2Ts8foL737g8NWkWiDzKcD4ZhiLToV3rg9gd
	        iZtzCnmxIj8A5jvsn6PJ5EzQfsaH6BETMkRnF0eV6HD3LbJ/I/s7sr/yqDMNqE2B2iGV6unbdgdg
	        3gBa7Or/AKao88IRP01ehYYJUF2T9/0thqqT0BUS0CnBPMVzQ9UNN0WAusDqVREEaLClStXKvEKM
	        PANI7eqTrBaOnxE/dcBmsAyXVbotUPPAjOPnR7g6J6LELa9CXetzCnTfLC454ZnkWWmbWONkN2eY
	        Eje/qoZ8ai/RL3EiekI+rzzjO5S6SVDDHMr8E49neH6ksnq4rEJdJ6OhWgdYPc3PboiLF4FZuGfo
	        l7zCrqUjuDWQtgSwfUBVSp1ijCTjcvMzPH9VpsLmL3GCAlSvIJvU6zJrhBs6zvWOqmjf0M48dcA8
	        LwuzLFB9ovcO08rNc0K2Yoi8uOCUqkZfkbml0S7Z/INy81K1X78iV+IVEcWS1j/OvWRPyXPh85G7
	        lENS5Rl1J6Xg8ZGy+VKFdL+CLzInl5J71rKcxDQBsI6/y9hcnYN8/phAfgG098rFT9Fov1BF47Uv
        d6m7bPo29NgsVrmbBVkLQtXBn2OWKGQblgxe+tZOVVl2Fxa1ruQ+2arW79ymZdcr/WmL5ocBKr4v
	        1vx0xQq+9Kq3TflxlbX8ak3z8z9bDDTpc5sfqNrg83jwgRf/CTAA07ZHMZMcRAcAAAAASUVORK5C
	        YII=" transform="matrix(1 0 0 1 8 10)">
	                        </image>
    <g>
    <circle class="st0" cx="50" cy="50" r="36" />
	                        </g>
	                </g>
    <g>
    <g>
    <path class="st1" d="M54.7,58.2h-9.5L40.4,50l4.8-8.2h9.5l4.8,8.2L54.7,58.2z M46,56.8h7.8l3.9-6.8l-3.9-6.8H46L42.1,50L46,56.8z
	                                        " />
	                        </g>
    <g>
    <path class="st1" d="M67.8,65.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L67.8,65.8z M59.1,64.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L59.1,64.2z" />
	                        </g>
    <g>
    <path class="st1" d="M67.8,50.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L67.8,50.8z M59.1,49.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L59.1,49.2z" />
                        </g>
    <g>
    <path class="st1" d="M54.7,43.2h-9.5L40.4,35l4.8-8.2h9.5l4.8,8.2L54.7,43.2z M46,41.8h7.8l3.9-6.8l-3.9-6.8H46L42.1,35L46,41.8z
	                                        " />
	                        </g>
    <g>
    <path class="st1" d="M41.7,65.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L41.7,65.8z M33.1,64.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L33.1,64.2z" />
	                        </g>
    <g>
    <path class="st1" d="M41.7,50.8h-9.5l-4.8-8.2l4.8-8.2h9.5l4.8,8.2L41.7,50.8z M33.1,49.2h7.8l3.9-6.8l-3.9-6.8h-7.8l-3.9,6.8
	                                        L33.1,49.2z" />
	                        </g>
    <g>
    <path class="st1" d="M54.7,73.2h-9.5L40.4,65l4.8-8.2h9.5l4.8,8.2L54.7,73.2z M46,71.8h7.8l3.9-6.8l-3.9-6.8H46L42.1,65L46,71.8z
	                                        " />
	                        </g>	                </g>
	        </g>
	        </svg>

    <div class="hidden" id="honeycomb_content">
        <div id="errorMsgHoneyComb" class="alert alert-error hide message-position-small">
            <a class="close">×</a>
            <strong>Unable to package.  </strong><span id="spanMsgErrorHoneyComb"></span>
        </div>
        <div class="hc-controls" id="hc-controlsdiv">
            <div class="dropup pull-left">
                <button class="btn btn-lg dropdown-toggle" type="button" id="exportMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Export"><i class="fa fa-external-link"></i></button>
                <ul class="dropdown-menu" aria-labelledby="exportMenu1">
                    <li><a href="#" id="ExportPDFVHoneyComb" onclick='CallPdfHoneyComb()'>Export .pdf</a></li>
                    <li><a href="#" id="ExportCSVHoneyComb" style="display:none" onclick="ExportToExcel(true)">Export .XLS</a></li>
                </ul>
            </div>
            <!-- Added by Arpita Soni for Ticket #2354 on 07/12/2016 -->
            <div class="dropup pull-left">
                <button class="btn btn-lg dropdown-toggle" type="button" id="packageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Package"><i class="fa fa-object-group"></i></button>
                <ul class="dropdown-menu" aria-labelledby="packageMenu">
                    <li><a href="#" id="PackageHoneyComb" onclick='CallPackageHoneyComb()'>Package</a></li>
                    <li><a href="#" id="UnpackageHoneyComb" onclick="CallUnPackageHoneyComb()">Unpackage</a></li>
                </ul>
            </div>
            <button class="btn btn-lg pull-right" onclick='RemoveAllHoneyCombData();' data-toggle="tooltip" title="Close"><i class="fa fa-close"></i></button>
        </div>

    </div>
