@model RevenuePlanner.Models.HomePlan
@using RevenuePlanner.Helpers;

<ul class="nav nav-tabs">
  @*  <li class="title-header source-sans-proregular bold font-size25px">

        <form id="nl-form2" class="nl-form-plan-title without-margin plantitle">

            <select id="dropdown-plan-title" data-default="0%" class="" maxlength="40">
                <script>
                    var plan = @Html.Raw(Json.Encode(Model.plans))
                    populateNF(plan, "dropdown-plan-title");
                </script>
            </select>
            <div class="nl-overlay"></div>
            <!--<div class="nl-overlay"></div>-->
            <script>
                var nlform = new NLForm(document.getElementById('nl-form2'));
            </script>

        </form>
    </li>*@
    <li>
       @* <span class="drop-down-logo-icon2"></span>*@
    </li>
    <li class="active pull-right">
        <a id="ATactics" href="#">Tactics</a>
    </li>
    <li class=" pull-right">
        <a id="AVertical" href="#">Vertical</a>
    </li>
    <li class=" pull-right">
        <a id="AStage" href="#">Stage</a>
    </li>
    <li class=" pull-right">
        @*Modified by Dharmraj for custom label, #738 Custom label for audience tab *@
        <a id="AAudience" href="#">@Html.CustomLabelFor(Enums.CustomLabelCode.Audience)</a>
    </li>
    @if (Model.IsManager) //if (Model.IsDirector || Model.IsClientAdmin)
    {
        <li class=" pull-right">
            <a id="ABusinessUnit" href="#">Business Unit</a>
        </li>
        <li class=" pull-right">
            <a id="ARequest" href="#">Requests
			<span id="RequestCount" class="label label-important"></span>
            </a>
        </li>
    }
</ul>
<script src="~/Scripts/js/scripts.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        onClickPlanTitle();
        SetAttributeData();
        RefreshCurrentTab();
        if (activeMenu == '@Enums.ActiveMenu.Plan.ToString().ToLower()') {
            GetCollaborators(CurrentPlanId);
        }
        var SelectedPlans = filters.SelectedPlans.toString();
        GetHealderData(SelectedPlans);
        GetNumberOfActivityPerMonByPlanId(SelectedPlans, "planYear");
    });

    $('#ATactics').click(function () {
        GetTactics();
        arrClosedTask = [];
    });

    //// Get tactic on click of vertical tab.
    $('#AVertical').click(function () {
        GetVertical();
        arrClosedTask = [];
    });

    //// Get tactic on click of audience tab.
    $('#AAudience').click(function () {
        GetAudience();
        arrClosedTask = [];
    });

    //// Get tactic on click of business unit tab.
    $('#ABusinessUnit').click(function () {
        GetBusinessUnit();
        arrClosedTask = [];
    });

    //// Get tactic on click of stage tab.
    $('#AStage').click(function () {
        GetStage();
        arrClosedTask = [];
    });

    //// Get tactic on click of request tab.
    $('#ARequest').click(function () {
        GetRequest();
        arrClosedTask = [];
    });
</script>

