@{
    var redirectionType = (string)ViewBag.RedirectionType;
}
<link href="@Url.Content("~/Content/css/Select2/select2.css")" rel="stylesheet" />
<script src="~/Scripts/js/Select2/select2.js"></script>

<div class="row-fluid calc-height">
    <div class="span12">
        <div id="divResubmissionPopup" class="form-inspect-share hide fade height-auto popup-block margin_top0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div>
                <form>
                    @if (@redirectionType == @Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic))
                    {
                        <h2 class="primary-title source-sans-prosemibold resubmission_header">Tactic Submission</h2>
                        <label style="text-align: center; width: 100%;" class="resubmission_content">You change the following attributes that will required this tactic to be resubmitted for approval.</label>
                    }
                    else
                    {
                        <h2 class="primary-title source-sans-prosemibold resubmission_header">Improvement Tactic Submission</h2>
                        <label style="text-align: center; width: 100%;" class="resubmission_content">You change the following attributes that will required this improvement tactic to be resubmitted for approval.</label>
                    }

                    <div style="color: white !important;margin:0 auto;" class="resubmission_list">
                        <ul>
                            @foreach (var item in ViewBag.resubmissionValues)
                            { 
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                    <button class="form-inspect-share-button btn btn-large bottom-margin-popups" type="button" id="proceed-button">Proceed</button>
                    <button id="cancel-button" class="btn-link Cancel-button-center-popups" style="margin-left: 10.5%" type="button">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //// Hide parent div container when popup is closed.
        $("#divResubmissionPopup").on("hide", function (e) { $("#divResubmission").hide(); });
        $('#divResubmissionPopup').on("show", function (e) { $("#divResubmission").show(); });

        //// Show popup.
        $("#divResubmissionPopup").modal('show');
        $('#divBackground').attr('style', 'display: block !important;z-index: 2502 !important');

        //// Close popup.
        $('#cancel-button').on("click", function () {
            $('#divResubmissionPopup').modal("hide");
            $("#divBackground").fadeOut("slow", function () {
                $('#divBackground').attr('style', 'display: none !important;');
            });
        });

        //// Proceed to save data.
        $('#proceed-button').on("click", function () {
            $('#divResubmissionPopup').modal("hide");
            $("#divBackground").fadeOut("slow", function () {
                $('#divBackground').attr('style', 'display: none !important;');
            });

            //// Check from where it opens.
            if ('@redirectionType' == '@Convert.ToString(RevenuePlanner.Helpers.Enums.Section.Tactic)') {
                //// Save to Tactic 
                saveTactic();
            }
            else {
                //// Save to Improvement Tactic 
                SaveImprovementTactic();
            }
        });
    });
</script>
