@using RevenuePlanner.Helpers
@{
    ViewBag.Title = "IndexNew1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Sidebar Section Start *@

@section Sidebar{
    @*@Html.Partial("~/Views/Shared/SideFilters.cshtml")*@
<div class="sidebar-toogle">
    <a href="#" class="sidebar-filter-icon"><i class="fa fa-filter" aria-hidden="true"></i></a>
</div>
<div id="divFilter"></div>
}


@* ================= Header section start ==================  *@
<div class="cf full-width-header" id="planHeader">
    @*@Html.Partial("~/Views/Shared/_planheader.cshtml", Model.objplanhomemodelheader)*@

    <div class="planheader-left">
        <div class="planheader-title">
            <h5 style="" id="lblMarkringActivitiesTitle">Marketing Calendar</h5><span class="plan-selected">2 Plans Selected</span>
        </div>
        <div class="plan-header-grid">
            <div class="request-icon-block">
                <a class="new-btn-plan-left P-icon-active" href="#">
                    <i class="fa fa-calendar"></i>
                </a>
                <a id="btngrid" class="new-btn-plan-right" href="#">
                    <i class="fa fa-money"></i>
                </a>
            </div>
            <div class="ix-icon-block margin-left8 ">
                <a class="new-btn-plan-left P-icon-active" href="#">
                    <i class="fa fa-sign-in"></i><span>Import</span>
                </a>
                <a href="#" id="" class="new-btn-plan-right dropdown-toggle " data-toggle="dropdown">
                    <i class="fa fa-external-link"></i><span>Export</span>
                </a>
                <ul id="" class="dropdown-menu export-dd">
                    <li title=""><a href="#">.csv</a></li>
                    <li title=""><a href="#">PDF</a></li>
                </ul>
            </div>

            <!-- -->
            <div id="divupcomingact" class="viewby-wrap margin-left9">
                <label id="lblUpcoming_Activies1" for="Time_Frame:">Time Frame:</label>
                <span style="width: 100px;" id="ddlUpComingActivitesSelectBox" class="selectBox">
                    <select name="ddlUpComingActivites" id="ddlUpComingActivites" class="hide" sb="85765995" style="display: none;">
                        <option value="2016" selected="selected">2016</option>
                        <option value="thismonth">this month</option>
                        <option value="thisquarter">this quarter</option>
                    </select>
                </span>
            </div>
            <div class="viewby-wrap">
                <label id="lblViewBy1" for="View_By:">View By:</label>
                <button id="btnMultiselect_ddlTabViewBy" type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all custom-right-pos" aria-haspopup="true" title="Tactic">
                    <span>Tactic</span><span class="ui-icon ui-icon-triangle-1-s"></span>
                </button>
            </div>
            <!-- -->
        </div>
    </div>
    <div class="planheader-right pull-right">
        <div class="plancart-box clearfix">
            <div class="white-chart activity-distribute">
                <p class="white-chart-title">Activity Distribution</p>
                <div style="" id="chart2" class=" dhx_chart dhx_chart">
                    Chart HERE
                </div>
            </div>
            <div class="white-chart">
                <p title="" id="pcostLabel" class="white-chart-title">Cost</p>
                <p id="pbudget" class="value source-sans-prolight" data-original-title="₹520,078" title="">₹520k</p>
                <p style="display:none" id="honeybudget" class="value source-sans-prolight"></p>
                @*<a id="DivBulldollerbg" style="cursor:pointer;" class="currency-value source-sans-prolight">₹</a>*@
            </div>
            <div class="white-chart">
                <p title="Tactics" class="white-chart-title">Tactics</p>

                <p id="ptacticcount" class="value source-sans-prolight">72</p>
            </div>
            <div class="white-chart margin-right20" id="DivBullhornbg">
                <p title="" id="pmqlLabel" class="white-chart-title">Qualified Leads</p>
                <p id="pMQLs" class="value source-sans-prolight" data-original-title="" title="">125</p>
                <p style="display:none" id="HoneyMQLs" class="value source-sans-prolight"></p>
                <!--Added By: Maninder Singh Wadhva-->
                <!--Addressed PL Ticket: 37,38,47,49-->
                <!-- Modified font class by kapil - 100614 - #508 -->
                <p class="small-value" id="pMQLImproved">+0%</p>
            </div>
            <div style="visibility: hidden; width: 0; padding:0; border:0" id="pdfchart" class="white-chart">
                <p class="white-chart-title">Activity Distribution</p>
                <div style="" id="chartpdf"></div>

            </div>
        </div>
        <div id="goalwrapper" class="goals-wrapper">
            <span class="goal-text">Goals</span>
            <div class="goal-content">
                <span>Revenue : </span>
                <span class="valuenumber" id="spnrevenue" data-original-title="" title="">₹1,000</span>
            </div>
            <div class="goal-content">
                <span>Responses : </span>
                <span class="valuenumber" id="spninq" data-original-title="" title="">1,000</span>
            </div>
            <div class="goal-content">
                <span>Qualified Leads : </span>
                <span class="valuenumber" id="spnmql" data-original-title="" title="">1,000</span>
            </div>
            <div class="goal-content">
                <span>Closed Won : </span>
                <span class="valuenumber" id="spncw" data-original-title="" title="">1,000</span>
            </div>
        </div>
        
    </div>
</div>
@* ================= Header section End ==================  *@
@* ================= Grid box start here ================= *@
<div class="task-tbl">
    <div class="gridbox-wrapper" style="width: 100%; height: 400px; border:1px solid #ccc; margin:0 0 10px 0">
        Grid is coming here

    </div>

    <div id="ImprovementGrid" class="improvement-grid-wrapper">
        Improvement Activity coming here
    </div>
</div>   
    <script type="text/javascript">
        $('.sidebar-toogle a').toggle(
        function () {
            $('#sidebar').css({
                'position': 'relative',
                'left': 'auto',
                'width': '1px',
                'background': 'transparent',
            });

            $(".sidebar-section").css("display", "none");
            $("#improvements > .accordion-group").css('display', 'none');
            $(".wraper-btns").css("display", "none");
            $("#content_wraper").css('width', 'calc(100% - 2px)');
            $('#sidebar.sidebar').css({ 'width': '1px', 'background': 'transparent', });

        },
        function () {
            $('#sidebar').css({
                'position': 'static',
                'left': 'auto',
                'width': '280px',
            });

            $(".sidebar-section").css("display", "block");
            $(".wraper-btns").css("display", "block");
            $("#content_wraper").css('width', 'calc(100% - 282px)');
            $('#sidebar.sidebar').css({ 'width': '280px' });

        }
  )
        $(document).ready(function () {
            $(".selectBox select").selectbox();
            $("#ddlTabViewBy").multiselect();

            var strURL = '@Url.Content("~/Filter/Index/")';
            $.ajax({
                url: strURL,
                type: 'post',
                dataType: 'html',
                async: false,
                data: {
                    activeMenu: '@Enums.ActiveMenu.Home',
                    CurrPlanIds: '@Sessions.PlanId'
                },
                success: function (data) {
                    if (data != 'undefined' && data != null) {
                        $('#divFilter').html(data);
                    }
                }
            });
        })
    </script>

