@using RevenuePlanner.Helpers

@{
    if (ViewBag.Type==Convert.ToString(Enums.AlertNotification.Alert).ToLower())
    {
        ViewBag.Title = Convert.ToString(Enums.AlertNotification.Alert);
    }
    else
    { 
        ViewBag.Title = Convert.ToString(Enums.AlertNotification.Notification);
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Type = ViewBag.Type;
    ViewBag.PageTitle = "Alerts";
    ViewBag.ModuleTitle = "MyProfile";
}
@section Sidebar {
    @Html.Partial("~/Views/shared/_preferences.cshtml")
}
<!--success message-->
<div id="successMessage" class="alert hide alert-success message-position">
    <a class="close">×</a>
    <strong>Success.</strong> <span id="spanMessageSuccess"></span>
</div>
<!--success message-->
<!--error message-->
<div id="errorMessage" class="alert hide alert-error message-position">
    <a class="close">×</a>
    <strong>Error!</strong> <span id="spanMessageError"></span>
</div>
<!--error message-->
<div id="divlisting">
    @Html.Action("AlertNotificationListing", "User", new { type = Type })
</div> 

