
<div id="newGridbox" style="width:100%; height:100px; background-color:white;"></div>

<script type="text/javascript">
    
    var newTreeGrid;
    var ValidParentId = 0;
    var ValidColumnId = 0;
    var ValidRowId = 0;
    
    var gridWidth = $("#divGridView").width();
    $(document).ready(function () {

        // Add By Nishant Sheth
        // Desc :: handle for same name or empty string
        dhtmlxValidation.isNameValid = function (data) {

            var childitems = myTreeGrid.getSubItems(ValidParentId).split(',');
            var isrepeat = true;
            if (data.trim() == '' || data.trim() == null) {
                isrepeat = false;
                IsValid = false;
            } else {
                $.each(childitems, function () {

                    if (this.toString() != ValidRowId.toString()) {
                        var ColCurrentValue = myTreeGrid.cells(this, ValidColumnId).getValue();
                        if (data.toLowerCase().trim() == ColCurrentValue.toLowerCase().trim()) {
                            isrepeat = false;
                            IsValid = false;
                        }
                    }
                });
            }
            return isrepeat;
        };

        newTreeGrid = new dhtmlXGridObject('newGridbox');
        newTreeGrid.setImagePath('@Url.Content("~/codebase/imgs/")');
        newTreeGrid.setImageSize(1, 1);
        //newTreeGrid.enableTreeCellEdit(false);
        newTreeGrid.setHeader("Task Name,Budget,Forecast,Planned,Actual,Action,Line Items", null, ["text-align:center;", , "text-align:center;", "text-align:center", "text-align:center;", "text-align:center", "text-align:center;", "text-align:center"]);
        newTreeGrid.setInitWidths("100,100,100,100,100,100,100");
        newTreeGrid.setColAlign("left,center,center,center,center,center,center");
        newTreeGrid.setColTypes("tree,ron,ron,ron,ron,ro,ro");
        //newTreeGrid.setNumberFormat("0,000.00", 2, ".", ",");
        myTreeGrid.enableValidation(true);
        newTreeGrid.setColValidators("NameValid,,,,,,");
        newTreeGrid.setColumnIds("title,budget,forecast,planned,actual,action,lineitems");
        //newTreeGrid.setColSorting("str,na,str,str,na,str");
        newTreeGrid.attachEvent("onEditCell", OnEditCell);
        
        myTreeGrid.attachEvent("onValidationError", function (id, ind, value) {

            IsValid = false;
            return true;
        });
        myTreeGrid.attachEvent("onValidationCorrect", function (id, index, value, rule) {
            IsValid = true;
        });
        newTreeGrid.init();
        
        var newBudget = "newBudget";
        newTreeGrid.addRow("newBudget", ["", "0", "0", "0", "0", "Edit Budget", "0"], 0);
        
        $("#newGridbox").find('table').css('width', gridWidth);
    });

    function OnEditCell(stage, id, index,newVal,oldVal) {
        
        ValidParentId = myTreeGrid.getParentId(id);
        ValidColumnId = index;
        ValidRowId = id;

        //var _val = $("#hdn_row_parentId").val();
        //var splitRowParentIds = '';
        //var rowId = '', parentId = '',parentRowID='';
        //var itemIndex=-1;
       
            if (stage.toString() == '0' || stage.toString() == '1') {
                return true;
            }
            if (IsValid) {
            if (stage.toString() == '2') {
                
                //var _budgetIdVal = $('#ddlParentFinance').val();
                if (newVal == null || newVal == '') {
                    return false;
                }
                else {
                    SaveNewBudgetDetail(newVal);
                    //newTreeGrid.openItem(parentId);
                    //_newrowid = "";
                    //_isNewRowAdd = false;
                    //_newParentId = 0;
                    //_parentRowId = "";
                    return true;
                    }
                }
            }
    };
    function SaveNewBudgetDetail(budgetName) {
        //budgetId = 8;
        var url = "@Url.Content("~/Finance/CreateNewBudget")";
        $("#divGridView").load(url + '?budgetName=' + escape(budgetName), function () { RefreshBudgetDropdown(); });
    }
</script> 