<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="elmah-sqlserver" connectionString="Data Source=172.30.17.112;User ID=sa;Password=sa;Initial Catalog=Hive9GamePlan;" providerName="System.Data.SqlClient" />
    <add name="MRPEntities" connectionString="metadata=res://*/Models.MRP.csdl|res://*/Models.MRP.ssdl|res://*/Models.MRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.17.112;initial catalog=Hive9GamePlan;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
    <add name="LoginExcelConn" connectionString= "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\SeptClone2016\Gameplan\RevenuePlanner.Test\Resource\Login.xls;Extended Properties='Excel 8.0;HDR=Yes'" ></add>
    <add name="ExcelConn" connectionString= "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\SeptClone2016\Gameplan\RevenuePlanner.Test\Resource\GamePlan_Data.xls;Extended Properties='Excel 8.0;HDR=Yes'" ></add>
  </connectionStrings>
  <appSettings>
    <add key="BDSApplicationCode" value="1C10D4B9-7931-4A7C-99E9-A158CE158951" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FromMail" value="manoj.limbachiya@indusa.com" />
    <add key="FromSupportMail" value="manoj.limbachiya@indusa.com" />
    <add key="ReplyToMail" value="manoj.limbachiya@indusa.com" />
    <add key="SupportEmail" value="manoj.limbachiya@indusa.com" />
    <add key="XMLCommonMsgFilePath" value="content\common\commonmessages.xml" />
    <add key="XMLCommonIntegrationMsgFilePath" value="RevenuePlanner.Test\content\common\commonmessages.xml" />
    <add key="ShowModelResultsTab" value="false" />
    <add key="xmlBenchmarkFilePath" value="content\common\Benchmark.xml" />
    <add key="FromAlias" value="manoj.limbachiya@indusa.com" />
    <add key="EvoHTMLKey" value="ORIJGQoKGQkZCxcJGQoIFwgLFwAAAAA=" />
    <add key="ForgotPasswordLinkExpiration" value="2" />
    <add key="PossibleAttemptCount" value="3" />
    <add key="EloquaResponseFolderPath" value="D:\Gameplan\Eloqua\" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="IsOffline" value="false" />
    <add key="Username" value="zebraadmin.utc@hive9.com" />
    <add key="Password" value="Dev@indusa1" />
    <add key="PlanId" value="6513" />
    <add key="ModelId" value="2926" />
    <add key="IntegrationApi" value="https://172.30.17.111/IntegrationWebAPI/" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" slidingExpiration="true" cookieless="UseUri" />
    </authentication>
  </system.web>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBDSService" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:01:00" sendTimeout="04:01:00" allowCookies="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://auth.dev.hive9.com/bdsservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService" contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBDSService" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:01:00" sendTimeout="04:01:00" allowCookies="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.30.17.111/auth/BDSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService" contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>