<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="elmah-sqlserver" connectionString="Data Source=stage-new\sql2012;User ID=mrp;Password=mrp@indusa;Initial Catalog=MRPDev;" providerName="System.Data.SqlClient" />
    <add name="MRPEntities" connectionString="metadata=res://*/Models.MRP.csdl|res://*/Models.MRP.ssdl|res://*/Models.MRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stage-new\sql2012;initial catalog=MRPDev;persist security info=True;user id=mrp;password=mrp@indusa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="elmah-sqlserver" connectionString="Data Source=stage-new/SQL2014;Integrated Security=SSPI;Initial Catalog=MRPDev;User ID=gpAdminDev;Password=!n@meDev@777" providerName="System.Data.SqlClient" />
    <add name="MRPEntities" connectionString="metadata=res://*/Models.MRP.csdl|res://*/Models.MRP.ssdl|res://*/Models.MRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stage-new\sql2014;initial catalog=MRPDev;persist security info=True;user id=gpAdminDev;password=!n@meDev@777;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BDSApplicationCode" value="1c10d4b9-7931-4a7c-99e9-a158ce158951" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FromMail" value="sysadmins@bulldogsolutions.com" />
    <add key="FromSupportMail" value="cparisi@bulldogsolutions.com" />
    <add key="ReplyToMail" value="noreply@bulldogsolutions.com" />
    <add key="SupportEmail" value="support@bulldogsolutions.com" />
    <add key="XMLCommonMsgFilePath" value="content\common\commonmessages.xml" />
    <add key="ShowModelResultsTab" value="false" />
    <add key="xmlBenchmarkFilePath" value="content\common\Benchmark.xml" />
    <add key="FromAlias" value="gameplansupport@bulldogsolutions.com" />
    <add key="EvoHTMLKey" value="ORIJGQoKGQkZCxcJGQoIFwgLFwAAAAA=" />
    <add key="ForgotPasswordLinkExpiration" value="2" />
    <add key="PossibleAttemptCount" value="3" />
    <add key="EloquaResponseFolderPath" value="D:\Gameplan\Eloqua\" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="IsOffline" value="false" />
    <add key="Username" value="sysadmin@bulldogsolutions.com" />
    <add key="Password" value="dev@indusa" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBDSService" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:01:00" sendTimeout="04:01:00" allowCookies="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.100.116:8085/BDSServiceDev/BDSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService" contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>