@using RevenuePlanner.Helpers

<!DOCTYPE html>
@{
    string varUrlnew = Url.Action("vieweditpermission", "Organization");
    string ViewPermissionURL = varUrlnew + "?Id=" + Sessions.User.UserId + "&Mode=MyPermission";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (ViewBag.PageTitle == "Create")
    {
        <div class="span2 myaccount-colum">
            <div class="width216">
                <ul class="nav nav-pills nav-stacked width216">
                    <li class="active">
                        <a href="#">Integration Credentials</a>
                    </li>
                    <li class="disabled">
                        <a href="#">Map Data Types</a>
                    </li>
                </ul>
            </div>
        </div>
    }
    else if (ViewBag.PageTitle == "Edit")
    {
        <div class="span2 myaccount-colum">
            <div class="width216">
                <ul class="nav nav-pills nav-stacked width216">
                    <li class="active">
                        <a href="#">Integration Credentials</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/ExternalService/MapDataTypes/")@Model.IntegrationInstanceId.ToString()">Map Data Types</a>
                    </li>
                </ul>
            </div>
        </div>
    }
    else if (ViewBag.PageTitle == "MapDataType")
    {
          <div class="span2 myaccount-colum">
                <div class="width216">
                    <ul class="nav nav-pills nav-stacked width216">
                        <li><a href="@Url.Content("~/ExternalService/Edit/")@ViewBag.IntegrationInstanceId.ToString()">Integration Credentials</a></li>
                        <li class="active"><a href="#">Map Data Types</a></li>
                    </ul>
                </div>
            </div>
    }

</body>
