@using RevenuePlanner.Helpers
<div id="nl-form2" class="nl-form">
    @{
        double MarketingDealSize=(double)ViewBag.MarketingDealSize;
        @Html.GenerateFunnel( MarketingDealSize)
    }
    <div class="nl-overlay"></div>
</div>
<script>
    var nlform2 = new NLForm(document.getElementById('nl-form2'));
</script>
