<div id="DivPublishModelPopup" class="form-inspect-share hide fade in publishmdl" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; height: 205px;z-index: 1502;">
    <h2 class="primary-title source-sans-prosemibold">Select effective date</h2>
    <div class="dp datepicker input-append date  calendar-width" id="dp_start" data-date="today();" data-date-format="@RevenuePlanner.Helpers.Common.DateFormatDatePicker">
        <input id="t_startdate" class="black-border-right font-size13 height30px" style="background-color: #ffffff; border-color: #f3f3f3; color: #000000; width: 240px; margin-top: 0px; border-radius: 4px;" size="16" type="text">
        <span class="add-on"> @*Removed inline style by Bhumika 22-7-2016 *@
            <img src="~/Content/images/gray-calendar-icon-big.png"></span>
    </div>
    <div style="width: 100%; margin: 0px auto;">
        <button class="form-inspect-share-button btn btn-large" id="Save-publish" value="Submit" style="margin-top: 0px !important; margin-right: 10px; width: 80px;">Save</button>
        &nbsp;
        <button class="btn-link" id="cancel-button" type="button" style="margin-top: 0px !important; width: 80px; line-height: 41px;">Cancel</button>
    </div>
</div>