@{
    ViewBag.Title = "No Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noaccess">
    You do not have <strong>permission to perform</strong> this action. Please contact
    your Administrator.</div>