$MODIFIED_COLOR: #00c806;
$VALIDATION_ERROR_COLOR: red;
$INDICATOR_WIDTH: 4px;

.editor {
  width: auto;
  left: 10%;
  right: 10%;
  margin: 0;
  height: 90%;
  min-height: 700px;

  &:global(.fade.in) {
    top: 5%;
  }

  :global(.modal-dialog) {
    margin: 0;
    height: 100%;

    :global(.modal-footer) {
      height: 58px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .cancel {
        display: none;
      }
    }

    :global(.modal-header) {
      height: 59px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    :global(.modal-body) {
      // undo a setting in the legacy styling
      max-height: none;
      position: absolute;
      top: 59px;
      bottom: 58px;
      left: 0;
      right: 0;
      padding: 0;

      .existingLinks {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 300px;

        overflow-y: auto;
        padding: 10px;
        background-color: #ccc;

        h4 {
          border-bottom: solid 1px #333;
          margin: 0;
          padding-bottom: 10px;

          .availableFunds {
            float: right;
          }

          .availableFundsLabel {
            float: right;
            margin-right: 10px;
          }

          .transactionName, .totalLabel {
            margin-right: 30px;
          }
        }

        .links {
          // chop off some width so grid is OK if scrollbar appears
          width: calc(100% - 30px);

          &.loading {
            text-align: center;
            padding-top: 30px;
          }

          // Restyle the grid
          :global {
            div.gridbox {
              .objbox {
                background-color: transparent;

                tr:local(.deleted) {
                  td:not(:last-child) {
                    opacity: 0.5;
                    pointer-events: none;
                  }
                }

                td {
                  padding-right: 5px;

                  // Color the text entry column white
                  &:nth-last-child(2) {
                    background-color: white;
                    cursor: text;
                  }

                  // Make the trash icon look clickable
                  &:last-child {
                    cursor: pointer;
                  }
                }

              }

              table tr {
                border: none;
              }
              table td {
                border: none;
                color: inherit;

                &:local(.modified) {
                  background-image: linear-gradient(to top, $MODIFIED_COLOR 0%, $MODIFIED_COLOR $INDICATOR_WIDTH, transparent $INDICATOR_WIDTH + 1);
                }

                &.dhtmlx_validation_error {
                  border-bottom: none !important;
                  background-image: linear-gradient(to top, $VALIDATION_ERROR_COLOR 0%, $VALIDATION_ERROR_COLOR $INDICATOR_WIDTH, transparent $INDICATOR_WIDTH + 1);
                }

                > div.hdrcell {
                  color: inherit;
                }
              }
            }
          }
        }
      }
    }

    .addNewLink {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 300px;
      padding-bottom: 10px;

      .top {
        border-bottom: solid 1px #ccc;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        height: 67px;

        .label {
          font-size: smaller;
          color: #6d6d6d;
          padding-bottom: 5px;
        }

        .selectYear {
          margin-right: 50px;
        }
      }

      .bottom {
        position: relative;
        height: 300px - 67px;

        > div {
          display: inline-block;
          position: absolute;
          top: 0;
          bottom: 0;
          border-right: solid 1px #ccc;

          > div {
            border: none !important;
            height: 100%;
            width: calc(100% - 1px);

            table tr {
              border: none !important;
            }
            table td {
              padding-left: 5px;
              padding-right: 5px;
              border: none !important;
            }
          }

          &.campaigns {
            left: 0;
            right: 78%;
          }
          &.programs {
            left: 22%;
            right: 56%;
          }
          &.tactics {
            left: 44%;
            right: 34%;
          }
          &.lineItems {
            left: 66%;
            right: 0;
            border-right: none;

            tr.notMapped {
              td:last-child {
                font-size: smaller;
                color: #f2914a;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

// defined out here so they can affect the popup lists
.selectYear {
  width: 200px;
}

.selectPlan {
  width: 500px;

  :global(.tipsyTitle) {
    max-width: none !important;
  }
}
