$MODIFIED_COLOR: #00c806;
$VALIDATION_ERROR_COLOR: red;
$INDICATOR_WIDTH: 4px;

.editor {
  width: auto;
  left: 10%;
  right: 10%;
  margin: 0;
  height: 90%;
  min-height: 700px;

  &:global(.fade.in) {
    top: 5%;
  }

  :global(.modal-dialog) {
    margin: 0;
    height: 100%;

    :global(.modal-body) {
      // undo a setting in the legacy styling
      max-height: initial;

      // Use flexbox to make the addNewLink always consume a fixed height and the existLinks stretch/shirnk to fill the rest of the height
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;

      padding: 0;

      .existingLinks {
        order: 1;
        flex: 1 1 auto;
        align-self: auto;
        height: auto;
        min-height: 200px;
        position: relative;

        overflow-y: auto;
        padding: 10px;
        background-color: #ccc;

        h4 {
          border-bottom: solid 1px #333;
          margin: 0;
          padding-bottom: 10px;

          .availableFunds {
            float: right;
          }

          .availableFundsLabel {
            float: right;
            margin-right: 10px;
          }

          .transactionName, .totalLabel {
            margin-right: 30px;
          }
        }

        .links {
          // chop off some width so grid is OK if scrollbar appears
          width: calc(100% - 30px);

          &.loading {
            text-align: center;
            padding-top: 30px;
          }

          // Restyle the grid
          :global {
            div.gridbox {
              .objbox {
                background-color: transparent;

                tr:local(.deleted) {
                  td:not(:last-child) {
                    opacity: 0.5;
                    pointer-events: none;
                  }
                }

                td {
                  padding-right: 5px;

                  // Color the text entry column white
                  &:nth-last-child(2) {
                    background-color: white;
                    cursor: text;
                  }

                  // Make the trash icon look clickable
                  &:last-child {
                    cursor: pointer;
                  }
                }

              }

              table tr {
                border: none;
              }
              table td {
                border: none;
                color: inherit;

                &:local(.modified) {
                  background-image: linear-gradient(to top, $MODIFIED_COLOR 0%, $MODIFIED_COLOR $INDICATOR_WIDTH, transparent $INDICATOR_WIDTH + 1);
                }

                &.dhtmlx_validation_error {
                  border: none;
                  background-image: linear-gradient(to top, $VALIDATION_ERROR_COLOR 0%, $VALIDATION_ERROR_COLOR $INDICATOR_WIDTH, transparent $INDICATOR_WIDTH + 1);
                }

                > div.hdrcell {
                  color: inherit;
                }
              }
            }
          }
        }
      }
    }

    .addNewLink {
      order: 2;
      flex: 0 0 auto;
      align-self: auto;

      height: 300px;
      padding: 0 10px 10px 10px;
    }
  }
}
