$GRID_PADDING: 5px;

.header {
  padding-left: $GRID_PADDING;
  padding-right: $GRID_PADDING;

  // Position the viewBy off on the right side
  .viewByContainer {
    margin-top: 10px;
    float: right;
  }
}

.gridContainer {
  position: absolute;
  top: $GRID_PADDING;
  bottom: $GRID_PADDING;
  left: $GRID_PADDING;
  right: $GRID_PADDING;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;

  > .noRecords {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // when combined with "display: flex", this will vertically and horizontally center the message
    align-items: center;
    justify-content: center;
    > h3 {
      margin: 0;
      padding: 0;
    }
  }

  // When gridContainer has "noRecords" class, then hide the grid
  &.noRecords {
    > .noRecords {
      display: flex;
    }
    > .grid {
      display: none;
    }
  }

  > .grid {
    width: 100%;
    height: 100%;
    border: none !important;

    .editLineItems {
      cursor: pointer;
    }

    // override a rule from the "legacy" styles.  ugh
    //box-sizing: border-box !important;

    // ensure the expand/collapse icon has pointer cursor so it looks clickable
    // also do not show the right border on this toggle column
    > :global(.objbox) > table > tbody > tr > td:first-child {
      border-right: none;

      > img {
        cursor: pointer;
      }
    }

    > :global(.xhdr) > table > tbody > tr {
      > td:first-child {
        border-right: none;
      }
      > td:nth-child(2) {
        border-left: none;
      }
    }
  }
}

.pager {
  padding: $GRID_PADDING !important;
  height: $GRID_PADDING * 2 + 40px;
  text-align: center;
  > ul {
    height: 40px;
    line-height: 50px;
    display: inline-block;
    > li {
      display: inline-block;
      float: none;

      input {
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }

  // Hide the pager if there are no records
  &.noRecords {
    display: none;
  }
}
