@import 'sass-mixins/common';

$GRID_PADDING: 5px;

:global {
  div.gridbox.gridbox_dhx_skyblue {
    table.obj {
      td i.fa {
        color: $GRID_ICON_COLOR;
        font-size: $GRID_ICON_FONT_SIZE;

        &:hover {
          color: $GRID_ICON_COLOR_HOVER;
        }
      }

      tr.ev_dhx_skyblue {
        background-color: $GRID_EVEN_ROW_BG;

        &.rowselected {
          background-color: $GRID_SELECTED_ROW_BG !important;

          td {
            background-color: $GRID_SELECTED_ROW_BG !important;
          }
        }

        td.cellselected {
          background-color: $GRID_SELECTED_CELL_BG !important;
        }
      }

      tr.odd_dhx_skyblue {
        background-color: $GRID_ODD_ROW_BG;

        &.rowselected {
          background-color: $GRID_SELECTED_ROW_BG !important;

          td {
            background-color: $GRID_SELECTED_ROW_BG !important;
          }
        }

        td.cellselected {
          background-color: $GRID_SELECTED_CELL_BG !important;
        }
      }
    }
  }
}

.header {
  padding-top: 38px;
  padding-left: $GRID_PADDING;
  padding-right: $GRID_PADDING;

  // Position the viewBy off on the right side
  .viewByContainer {
    margin-top: 10px;
    float: right;
  }
}

.viewByMultiSelect {
  width: 220px;
}

.gridContainer {
  @include fill-parent($GRID_PADDING, $GRID_PADDING, $GRID_PADDING, $GRID_PADDING);
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 1px solid #ccc;

  > .noRecords {
    display: none;
    @include fill-parent();

    // when combined with "display: flex", this will vertically and horizontally center the message
    align-items: center;
    justify-content: center;
    > h3 {
      margin: 0;
      padding: 0;
    }
  }

  // When gridContainer has "noRecords" class, then hide the grid
  &.noRecords {
    > .noRecords {
      display: flex;
    }
    > .grid {
      display: none;
    }
  }

  > .grid {
    height: 100%;
    width: 100%;
    border: none !important;

    .editLineItems {
      cursor: pointer;
    }

    // override a rule from the "legacy" styles.  ugh
    //box-sizing: border-box !important;

    // ensure the expand/collapse icon has pointer cursor so it looks clickable
    // also do not show the right border on this toggle column
    > :global(.objbox) > table > tbody > tr > td:first-child {
      border-right: none;

      > img {
        cursor: pointer;
      }
    }

    > :global(.xhdr) > table > tbody > tr {
      > td:first-child {
        border-right: none;
      }
      > td:nth-child(2) {
        border-left: none;
      }
    }
  }

  // Some styling of the subgrids
  :global(.dhx_sub_row) {
    background-color: white !important;
    border: none !important;

    td {
      border-left: none !important;
      border-right: none !important;
    }

    :global(.xhdr) td {
      border-top: none !important;
    }
  }
}

.pager {
  padding: $GRID_PADDING !important;
  height: $GRID_PADDING * 2 + 40px;
  text-align: center;
  > ul {
    height: 40px;
    line-height: 50px;
    display: inline-block;
    > li {
      display: inline-block;
      float: none;

      input {
        margin-bottom: 0;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }

  // Hide the pager if there are no records
  &.noRecords {
    display: none;
  }
}

.subgridMessage {
  text-align: center;
  padding: 10px;

  .sameline {
    display: inline-block;
  }
}

.noLineItems {
  @include fill-parent(0, 0, 2px, 0); // completely cover the subgrid
  z-index: 1; // appear on top of the subgrid
  background-color: white;
  text-align: center;
  padding-top: 10px;
  margin: 0;

  &.hidden {
    display: none;
  }
}

.subgrid {
  z-index: 0;
}

// Override some modal style rules that have been messed up by legacy app
:global {
  .modal {
    z-index: 3000;

    .btn {
      color: #fff;

      &.btn-default {
        color: #333;
        &:hover {
          color: #333;
        }
      }
    }
  }
}
