<div class="<%= o.css.dateRangeContainer %>">
    <div class="<%= o.css.label %>">Date Range</div>
    <div class="<%= o.css.range %>">
        <i class="fa fa-calendar"></i>
        <span><%- o.dateRange %></span>
        <i class="fa fa-caret-down"></i>
    </div>
</div>
