<div class="<%= o.css.header %>">
    <h2>Transactions</h2>
</div>
<div>
    <% /* put a child div that is absolutely positioned to fill the parent div to work around issue with flexboxed items not having proper dimensions */ %>
    <div class="<%= o.css.gridContainer %>"><div class="<%= o.css.grid %>"></div></div>
</div>
<div class="<%= o.css.pager %>"></div>
