@using RevenuePlanner.Helpers
@{
    bool IsDisable = false;
    if (Sessions.User != null)
    {
        IsDisable = true;
    } 
    
@*<div class="container-fluid all-height" id="DivShareTacticPopupMain">
    <div class="row-fluid calc-height">
        <div class="span12">*@
 
    <div id="DivsessionWarning" class="form-contact-support fade in" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block">
        <div class="login-wrapper">
            <form name="login-register">
               <h2 class="primary-title source-sans-prosemibold">Session Timeout</h2>
                <label class="inpus-required-title source-sans-prolight">  For security reasons, you will be logged out of Plan<sup style="font-size:10px;">TM</sup> automatically in 2 minutes due to inactivity.</label>
                 <span id="timerDiv" class="warningTimer source-sans-prosemibold">@System.Configuration.ConfigurationManager.AppSettings["SessionWarningTime"]:00</span>
                <div id="summernote"></div>
              
                <span class="button-contact-support btn btn-large" id="submit_issue" style="margin-left:98px;">I'm still here</span>
    </form>
        </div>
    </div>

    <div id="DivBackgroundsessionWarning" class="modal-backdrop fade in " style="z-index: 999999; background-color: rgb(0, 0, 0) ! important;"></div>  
}
<script type="text/javascript">
    var timerWatch;
    $(document).ready(function (e) {
        //clearTimeout(timerWatch);
        var $worked = $("#timerDiv");
        function update() {
            var myTime = $worked.html();
            var ss = myTime.split(":");
            var dt = new Date();
            dt.setHours(0);
            dt.setMinutes(ss[0]);
            dt.setSeconds(ss[1]);

            var dt2 = new Date(dt.valueOf() - 1000);
            var temp = dt2.toTimeString().split(" ");
            var ts = temp[0].split(":");

            $worked.html(ts[1] + ":" + ts[2]);
            if (ts[1] == "00" && ts[2] == "00") {
                var returnUrl = document.URL !=null?document.URL:'';//window.location.pathname;
                close_popup();
                sessLogOut(returnUrl);
            }
            else {
              timerWatch=  setTimeout(update, 1000);
            }
        }

        setTimeout(update, 1000);
    });

    //Modified by Komal rawal on 17-6-16 to clear time once the time is over
    function sessLogOut(returnUrl) {

       warningRunTime = 0;
       clearTimeout(timerWatch);

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Login/destroySessions/")',
            success: function (r) {
                if (r) {
                    window.location = '@Url.Content("~/login/Index?ReturnUrl=")' + returnUrl+'&sessionTimeout='+true;
                }
            }
        });

    }
    $('#submit_issue').click(function () {
        warningRunTime = 0;
        clearTimeout(timerWatch);
        initSession();
        close_popup();
    });

    function close_popup() {
        $('#DivBackgroundsessionWarning').css("display", "none");
        $('#DivsessionWarning').css("display", "none");
        $('#DivBackgroundsessionWarning').remove();
        $('#DivsessionWarning').remove();
    }
</script>