@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title" style="margin: 20px;">
    <h3 class="error">Error:</h3>
    <h4 class="error">An unexpected error has occurred. Please contact the system administrator.</h4>

    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div style="display: none;">
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
            </div>
            <div style="overflow: scroll">
                <pre>
                @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</hgroup>
