@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page not found";
}

<hgroup class="title" style="margin: 20px;">
    <h3 class="error">Page not found</h3>
        <h4 class="error">Make sure that the web site address displayed in address bar of your browser is spelled and formatted correctly.</h4>
</hgroup>
