@using RevenuePlanner.Helpers
@*<script type="text/javascript" src="~/Scripts/js/Mask.js"></script>*@

@{
    string ExtIntService = ViewBag.ExtIntService;
}

<div class="head">
    <span class="close-form source-sans-proregular">» CLOSE MENU</span>
    <div class="cf">
        <h2 class="source-sans-prolight">Line Detail</h2>
            <div class="btn-group pull-right gear-dropdown">
                <span class="gear-sidebar dropdown-toggle" data-toggle="dropdown"></span>
                <ul class="dropdown-menu">
                    <li><a id="spanDuplicate">Duplicate Line</a></li>
                    
                        <li><a id="deleteTactic">Delete Line</a></li>                        
                    
                </ul>
            </div>
        
    </div>
</div>
<script type="text/javascript">
    $('.close-form', this.$panel).click(function (e) {
        //if (isredirect == 'True') {   // Commented by Sohel Pathan on 08/07/2014 for PL ticket #549 to add Start and End date field in Campaign. Program and Tactic screen
        $('.datepicker.dropdown-menu').css("display", "none");
        //}
        $("#slidepanel").css("display", "none");
        $("#slidepanel-container").empty();
    });
</script>