

UPDATE Notification SET EmailContent = REPLACE(EmailContent,'apporved','approved') 

UPDATE Notification SET EmailContent = REPLACE(EmailContent,'<br>Gameplan Admin','<br>Bulldog Gameplan Admin')

UPDATE Notification SET EmailContent = REPLACE(EmailContent,'<br/>Gameplan Administrator','<br/>Bulldog Gameplan Admin')


																		
