<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="mailSettings">
      <section name="smtp_support" type="System.Net.Configuration.SmtpSection" />
      <section name="smtp_other" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Dev-->
    <add name="elmah-sqlserver" connectionString="Data Source=zhang-pc;persist security info=True;Integrated Security=true;User Id=gameplanuser;Password=uEdHtlvJUGTVQA6Ynl2G;Initial Catalog=Hive9PlanSep2016;" providerName="System.Data.SqlClient" />
    <add name="MRPEntities" connectionString="metadata=res://*/Models.MRP.csdl|res://*/Models.MRP.ssdl|res://*/Models.MRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=zhang-pc;persist security info=True;Integrated Security=true;User Id=gameplanuser;Password=uEdHtlvJUGTVQA6Ynl2G;Initial Catalog=Hive9PlanSep2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BDSMeasureApplicationCode" value="E14803FA-1A0D-4DF2-AF87-C3954F4A7821" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!--Add By Nishant Sheth, Desc: #1830 Increase json post data length -->
    <add key="BDSApplicationCode" value="1c10d4b9-7931-4a7c-99e9-a158ce158951" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="FromSupportMail" value="akashdeep.kadia@indusa.com" />
    <add key="ReplyToMail" value="akashdeep.kadia@indusa.com" />
    <add key="SupportEmail" value="akashdeep.kadia@indusa.com" />
    <!-- Add the email address of recipient of support request -->

    <!-- Changed to GameplanSupport email-->
    <add key="FromMail" value="akashdeep.kadia@indusa.com" />
    <add key="FromAlias" value="akashdeep.kadia@indusa.com" />
    <!-- Add the email address of recipient of support request -->
    <add key="XMLCommonMsgFilePath" value="content\common\commonmessages.xml" />
    <add key="ShowModelResultsTab" value="false" />
    <add key="xmlBenchmarkFilePath" value="content\common\Benchmark.xml" />
    <add key="FromAlias" value="akashdeep.kadia@indusa.com" />
    <!-- Changed to GameplanSupport email-->
    <!--<add key="EvoHTMLKey" value="oYqTgZKSgZCSmJKBko+RgZKQj5CTj5iYmJg="/>-->
    <add key="EvoHTMLKey" value="4W9+bn19bn5ue2B+bn1/YH98YHd3d3c=" />
    <!--Forgot Password-->
    <add key="ForgotPasswordLinkExpiration" value="2" />
    <add key="PossibleAttemptCount" value="3" />
    <add key="EloquaResponseFolderPath" value="E:\VIRTUAL_DIRECTORY\bulldogsolutions.net\stage\eloqua\" />
    <add key="IntegrationErrorMailTo" value="akashdeep.kadia@indusa.com" />

    <add key="DefaultCustomRestriction" value="2" />
    <add key="CustomNameLimitSet" value="79" />

    <add key="IsOffline" value="false" />

    <add key="C533A5DA-01F1-4FF7-A388-9F9EB3CBAD37GameplanStartDate" value="2015-02-15" />

    <add key="SFTPDefaultPort" value="22" />
    <add key="EnableTLS1AndHigher" value="false" />
    <add key="SessionWarningTime" value="02" />
    <add key="LogRecordSize" value="10" />
    <add key="IntegrationPushRecordBatchSize" value="10" />
    <!--Added By Viral Kadiya, Desc: #2006 Integration syncing process timeout in hour -->
    <add key="IntegrationTimeOut" value="4" />
    <add key="IntegrationApi" value="http://localhost/IntegrationApi/" />
    <add key="CommonIntegrationWebAPITimeOut" value="3" />
    <!--<add key ="ShowBookmark" value="true"/>-->
    <!--showbook mark section in gameplan project.-->
    <add key="AuthorizedReportAPIUserName" value="testapi@hive9.com" />
    <add key="AuthorizedReportAPIPassword" value="testapi123" />
    <add key="BDSMeasureApplicationCode" value="E14803FA-1A0D-4DF2-AF87-C3954F4A7821" />
    <!--Set reCaptcha secretkey and site key-->
    <add key="secretkey" value="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"/>
    <add key="sitekey" value="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"/>
    <add key="RecaptchaURL" value="https://www.google.com/recaptcha/api/siteverify"/>
  </appSettings>
  <mailSettings>

    <!--SMTP settings to be used for support portal-->
    <smtp_support from="akashdeep.kadia@indusa.com">
      <network host="relay.mail.twtelecom.net" port="25" enableSsl="false" />
    </smtp_support>
    <!--SMTP settings to be used for other notifications-->
    <smtp_other from="akashdeep.kadia@indusa.com">
      <network host="relay.mail.twtelecom.net" port="25" enableSsl="false" />
    </smtp_other>
  </mailSettings>
  <system.web>
    <!-- Session State -->
    <sessionState timeout="300" mode="InProc" cookieName=".gameplan" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="5000000" targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="~/Error/Error">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" slidingExpiration="true" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <!--Added by Rahul shah on 10/12/2015 because of webfont Error-->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <!--Added by Rahul shah on 10/12/2015 because of webfont Error-->
    </staticContent>
    <httpProtocol allowKeepAlive="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <elmah>
    <!--
	        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for
	        more information on remote access and securing ELMAH.
	    -->
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-sqlserver" />
    <errorMail smtpServer="pod51022.outlook.com" smtpPort="587" from="viral.kadiya@indusa.com" to="viral.kadiya@indusa.com" userName="viral.kadiya@indusa.com" password="******" subject="Elmah Error" async="true" useSsl="true" />
  </elmah>
  <location path="elmah.axd">
    <!--Added by Akashdeep Kadia on 17/05/2016 because of showing warning-->
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBDSService" closeTimeout="04:01:00" openTimeout="04:01:00" receiveTimeout="04:01:00" sendTimeout="04:01:00" allowCookies="false" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BDSService/bdsservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService" contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService" />
    </client>
  </system.serviceModel>
</configuration>