@using RevenuePlanner.Helpers

<!DOCTYPE html>
@{
   
}
<html>

<body>

    <div id="divCurrencyMenu" class="span2 myaccount-colum">
        <div class="padding-right70">
            <ul class="nav nav-pills nav-stacked width216">

                <li id="currency"><a href="@Url.Action("Index", "Currency")">Currency</a></li>

                <li id="exchangerates"><a href="@Url.Action("ExchangeRate", "Currency")">Exchange Rates</a></li>
            </ul>
        </div>
    </div>


</body>
</html>
<script>
    $(document).ready(
        function () {
           
                if ('@ViewBag.PageTitle' == 'Currency') {
              
                    if (!$('#currency').hasClass('active')) {
                        $('#currency').addClass('active');

                    }
                }
                else if ('@ViewBag.PageTitle' == 'ExchangeRates') {
                   
                    if (!$('#exchangerates').hasClass('active')) {
                        $('#exchangerates').addClass('active');

                    }
                }


           
        }
            );
</script>
