@charset "utf-8";
/* CSS Document */
@import url(font.css);
*, *::after, *::before {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
body, html {
	height: 100% !important;
}
body {
	color: #3e3f37;
	font-family: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	background: #fff;
	-ms-overflow-style: scrollbar;
	overflow: hidden !important;
}
.btn-Settings:after, .caret2, .cf:after, .cf:before, .improvement .gantt_task_drag:after {
	content: "";
}
.cf:after, .cf:before {
	display: table;
}
.cf:after {
	clear: both;
}
/* ============ Common styles  ============ */
a {
	cursor: pointer !important;
	text-decoration: none;
}
.dropdown-menu > li > a {
	color: inherit;
}
.btn.btn-large {
	font-size: 18px;
}
.no-btm-bdr {
	border-bottom: 0 !important;
}
.hide-visibility {
	visibility: hidden;
}
a:hover, a:focus {
	color: unset;
}
.btn {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	background-image: none;
	border: none;
	font-size: 14px;
	color: #f4f5ed;
	text-shadow: none !important;
	transition: background 0.2s ease-out;
	text-align: center;
}
.btn:hover {
	color: #fff;
}
.btn-blue {
	display: block;
	max-width: 220px;
	height: 35px !important;
	border: none !important;
	margin-bottom: 18px;
	padding-bottom: 0;
	padding-top: 0;
	background: #89CEDE none repeat scroll 0 0; /* Edited for #2312- Komal */
	transition: background 0.2s ease-out;
	box-shadow: none;
}
#sidebar .btn-blue {
	width: 100%;
	max-width: 100%;
}
.btn-blue:focus, .btn-blue:hover {
	background: #70BBCC;
	color: #fff;
}
.btn-blue-disable, .btn-blue-disable:focus, .btn-blue-disable:hover {
	color: inherit !important;
	cursor: default;
}
.alert {
	text-shadow: none !important;
}
.greenfont {
	color: #559659 !important;
}
.clear {
	clear: both !important;
}
/* Common Margin-Padding-Width-Height Style */
.margin-top20 {
	margin-top: 20px !important;
}
.margin-left9 {
	margin-left: 9px;
}
.margin-left10 {
	margin-left: 10px;
}
.padding-bottom0 {
	padding-bottom: 0 !important;
}
.width50 {
	width: 50% !important;
}
/* SB HOlder Style */
.viewby-wrap .selectBox {
	display: inline-block;
	margin-right: 0;
}
.no-edit, .no-edit span{color:#a2a2a2 !important}
.sbHolder {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #cccccc #cccccc #b3b3b3;
	border-image: none;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	min-height: 25px;
	position: relative;
	text-shadow: none /*0 1px 1px rgba(255, 255, 255, 0.75)*/;
	vertical-align: top;
	width: 100%;
	z-index: 1999;
}
.sbToggle {
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #000000;
	content: "";
	display: inline-block;
	height: 0;
	margin-top: -3px;
	outline: medium none;
	position: absolute;
	right: 6px;
	top: 50%;
	vertical-align: top;
	width: 0;
	z-index: 1999;
}
.sbHolder a {
	color: #444;
	margin-right: 0;
	text-decoration: none !important;
}
.sbSelector {
	display: block;
	font-size: 11.9px;
	left: 0;
	line-height: 22px;
	max-width: 300px;
	outline: medium none;
	overflow: hidden;
	padding-right: 14px;
	position: absolute;
	text-decoration: none;
	text-indent: 10px;
	text-overflow: ellipsis;
	top: 0;
	white-space: nowrap;
	width: 98%;
	z-index: 1998;
}
.sbOptions {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	left: -1px;
	list-style: outside none none;
	margin: 3px 0 0;
	min-width: 160px;
	overflow-y: auto;
	padding: 5px 0;
	position: absolute;
	top: 34px;
	z-index: 99999;
}
.sbOptions li {
	padding: 0;
}
.simpleSelectBox.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
	text-shadow: none;
}
.sbOptions a:link, .sbOptions a:visited {
	color: #333;
	text-decoration: none;
}
.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
	background-color: #f5f5f5;
	background-repeat: repeat-x;
	color: inherit;
	text-decoration: none;
}
/*  ============ End Common style ============ */
/* =============== Header Style ================== */
#header {
	background: #3e3f37;
	position: relative;
	z-index: 1500;
}
#header a {
	text-decoration: none;
}
.header-top {
	width: 100%;
}
.header-left {
	color: #ffffff;
	display: inline-block;
	float: left;
	height: 100%;
	margin-left: 15px;
}
.hive9modules {
	background-color: transparent;
	display: inline-block;
	font-size: 0.8em;
	padding: 8px 6px 10px;
	text-align: center;
	text-decoration: none;
	width: 77px;
	line-height: normal;
	vertical-align: middle;
	display: inline-block;
	color: #ccc;
}
.hive9modules svg {
	fill: #e6e6e6;
	max-height: 36px;
}
.hive9modules:hover, .hive9modules:hover svg, .hive9modules.active svg, .hive9modules.active {
	background-color: #e6e6e6;
	fill: #3e3f37;
	color: #333;
}
.hive9modules span {
	display: block;
	line-height: 8px;
}
/* Grow Effect */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.home-header {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 60%;
}
.home-header .hive9Logo-wrap {
	display: inline;
	float: none;
	max-width: 112px;
	padding-right: 15px;
}
#header .hive9-name .title {
	border-left: 1px solid #999999;
	color: #ffffff;
	display: inline-block;
	font-size: 24px;
	height: auto;
	line-height: normal;
	max-width: 450px;
	overflow: hidden;
	padding-left: 22px;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}
.header-right {
	float: right;
	margin-right: 0;
	width: 20%;
	padding: 0 15px;
	text-align: right;
}
.home-header {
	line-height: 58px;
}
.navigation {
	background: #e6e6e6 none repeat scroll 0 0;
	display: block;
	padding: 0;
	position: relative;
	width: 100%;
}
/* ================= New navigation Style start for #2219 ================= */
.main-nav {
	width: 60%;
	padding: 0;
	float: left;
	height: 45px;
}
.menu-content {
	margin: 0;
}
.menu-content > li {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 0 1px;
	width: auto;
	position: relative;
	float: left;
}
.menu-content li a {
	color: #777;
	display: inline-block;
	padding: 0 15px;
	vertical-align: baseline;
	white-space: normal;
}
.menu-content .dd-arrow {
	cursor: pointer;
	line-height: 45px;
	/*position: absolute;
	right: 6px;
	width: 20px;
	z-index: 999;
	color: #777;*/
}
.menu-content > li > a { /* spacing without dropdown arrow */
	margin: 0 1px;
	padding: 0 15px 0 13px;
	float: left;
}
.menu-content > li:first-child > a {
	margin-left: 0;
}
.menu-content > li.dropdown > a { /* spacing with dropdown arrow */
	margin: 0 1px;
	padding: 0 15px 0 13px;
}
.menu-content li a:hover, .menu-content li a:hover span {
	background: transparent none repeat scroll 0 0;
	color: #333;
}
.menu-content li a:focus {
	color: #333;
}
.menu-content li a:focus {
	background: transparent none repeat scroll 0 0;
}
.menu-content li i {
	font-size: 14px;
	font-weight: normal;
	line-height: 3px;
}
.menu-content > li > a span {
	display: inline;
	font-size: 14px;
	line-height: 45px;
	margin-left: 3px;
	text-transform: capitalize;
}
.nav-text {
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.menu-content li .fa.fa-caret-down {
	text-align: right;
}
.menu-content li.setting-list span {
	margin-right: 3px;
}
.menu-content li.open > a, .menu-content li.open > a:hover, .menu-content li.open > a:focus, .menu-content li:hover > a, .menu-content li.active > a {
	background: #89CEDE; /* #2312  new Tckt */
	color: #333;
}
.menu-content li:hover > a span {
	color: #333;
}
.menu-content li.dropdown .dropdown-menu, .menu-content .dropdown .dropdown-menu {
	border-radius: 0 0 4px 4px !important;
	margin: 0;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	float: left;
	font-size: 14px;
	left: 0;
	list-style: outside none none;
	padding: 2px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
	min-width: 210px;
	white-space: normal;
}
.menu-content li.dropdown:hover > .dropdown-menu { /* #2312 New change*/
	display: block !important;
}
.menu-content .dropdown-menu > li {
	margin: 0;
}
.menu-content .dropdown-menu > li a {
	padding: 6px 15px;
	width: 100%;
	-webkit-box-sizing: border-box !important; /* #2312 */
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.menu-content .dropdown-menu > li a:hover, .menu-content .dropdown-menu > li a:focus, .menu-content .dropdown-menu > li.active > a {
	background: #e6e6e6 none repeat scroll 0 0;
}
.menu-content li.active .dd-arrow, .menu-content .dd-arrow:hover {
	color: #333;
}
/* ================= New navigation Style End ================= */
.header-right a {
	color: #fff;
}
.info-user {
	float: right;
	font-size: 14px;
	height: auto;
	padding-right: 0;
	padding-top: 4px;
	width: 85px;
	text-align: center;
}
.info-user .username {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	margin: 0 auto;
	max-width: 98%;
	overflow: hidden;
	padding-right: 12px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info-user .username:after {
	content: "\f107";
	display: inline-block;
	font: 14px/1 FontAwesome;
	position: absolute;
	right: 0;
	top: 2px;
}
.info-user .proflie_pic {
	margin: 0 auto;
	width: 40px;
}
.info-user .avatar-user {
	height: 36px;
	margin-top: 0;
	width: 36px;
}
.ul-top {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px 5px 0 0;
	font-size: 11px;
	margin-bottom: 0;
	padding: 0 8px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.ul-top a {
	color: inherit;
}
#planHeader #nl-form2 {
	margin: 10px 0 0 0;
}
#planHeader #nl-form2 a.nl-field-toggle { /* #2312 */
	line-height: 35px;
	background-position: right center;
	font-family: proximanova-regular;
	font-size: 28px;
}
/* ============= Top header Alert-Notification and profile dropdown CSS ============ */
.notify-list, .aler-list {
	padding-top: 15px;
	text-align: center;
	width: 30px;
}
.aler-list {
	margin-left: 20px;
	margin-right: 3px;
}
.notify-list .fa, .aler-list .fa {
	font-size: 26px;
}
.count {
	background: #f8710e none repeat scroll 0 0;
	border-radius: 10px;
	color: #fff;
	font-size: 11px;
	height: 18px;
	line-height: 17px;
	min-width: 25px;
	padding: 0 2px;
	position: absolute;
	right: -15px;
	top: 5px;
}
.header-right .dropdown-menu {
	padding: 0;
	background: #f2f2f2 none repeat scroll 0 0;
	right: 0;
	left: auto;
}
.header-right .dropdown-menu li {
	text-align: left;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
}
.header-right .dropdown-menu li:hover {
	background: #ddd;
}
.header-right .dropdown-menu > li:last-child {
	border-bottom: 0 none;
}
.header-right .dropdown-menu > li > a {
	padding: 4px 10px;
}
.header-right .dropdown-menu > li > a:hover {
	background: none;
	color: inherit;
}
.header-right .info-user .dropdown-menu li {
	text-align: center;
}
.notify-list .dropdown-menu, .aler-list .dropdown-menu {
	width: 240px;
}
.header-right .notify-list .dropdown-menu li, .header-right .aler-list .dropdown-menu li {
	float: left;
	font-size: 13px;
	padding: 10px 10px;
	text-align: left;
	width: 100%;
}
.dd-left {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 145px;
}
.dd-right {
	float: right;
	font-size: 10px;
}
.dd-right {
	color: #95989A;
}
.ul-top a:last-child {
	color: #F8700E;
}
.header-right .notify-list .dropdown-menu li:last-child, .header-right .aler-list .dropdown-menu li:last-child {
	background: #fff none repeat scroll 0 0;
	border-radius: 0 0 5px 5px;
	padding: 6px 10px;
	text-align: center;
}
.header-right .notify-list .dropdown-menu > li:last-child > a, .header-right .aler-list .dropdown-menu > li:last-child > a {
	padding: 0;
	color: #F8700E;
}
/* =============== Layout Style ================== */
.midl-wrap {
	display: block;
	height: 100%;
}
#sidebar {
	vertical-align: top;
	width: 280px;
	border-right: 1px solid #ccc;
	bottom: 0;
    top:0;
	padding-top: 120px;
	height: 100%;
	position: absolute;
	/*overflow-x:hidden;*/
	overflow-y: auto;
	transition: width 0.1s ease-in-out 0.1s;
	background: #f0f0f0;
    outline:0;
}
#content_wraper {
	background: #fff none repeat scroll 0 0;
	border-bottom: 0 solid #ccc;
	border-left: 0 none;
	display: inline-block;
	float: left;
	height: 100% !important;
	margin: 0 0 0 280px;
	min-height: 300px;
	vertical-align: top;
	width: calc(100% - 281px);
	transition: margin 0.1s ease-in-out 0.1s;
    border:0;
}
.slideLeft#sidebar {
	width: 0
}
.slideLeft#content_wraper {
	margin-left: 0;
	width: 100%
}

/* =============== Sidebar Style ================== */
.row-fluid .sidebar, .row-fluid .sidebar .sidebar-section {
	width: 100%
}
.sidebar-toogle {
	padding: 5px 0;
	left: -1px;
    top: 1px;
	position: absolute
}
.sidebar-toogle a.sidebar-filter-icon {
	background: #89cede none repeat scroll 0 0;
	border-radius: 0 4px 4px 0;
	color: #fff;
	font-size: 25px;
	padding: 4px 8px;
	position: absolute;
	right: -37px;
	top: 8px;
}
.sidebar-section ul, .sidebar-section ul li {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.sidebar-section ul li {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	height: auto;
	line-height: 20px;
	margin: 2px 0 2px 2px;
}
/* Message style */
.filter-title {
	width: 50%;
	float: left
}
.save-filter .alert {
	margin: 20px 0 0;
	padding: 8px 33px 8px 14px;
}
.save-filter .alert {
	margin: 20px 0 0;
	padding: 8px 33px 8px 14px;
}
.filter-preset {
	margin-bottom: 20px;
	width: 100%;
	float: left;
}
.filter-preset button {
	border-radius: 4px;
	color: #3E3F37;
	font-size: 20px;
	padding: 6px 12px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.filter-preset button:hover, .filter-preset button:focus, .filter-preset button:active, .filter-preset button.active, .filter-preset .open .dropdown-toggle.btn-default {
	background-color: #ebebeb;
	border-color: #adadad;
	color: #333333;
}
.filter-preset button .caret {
	border-top: 4px solid #3e3f37;
}
.filter-preset .dropdown-menu{
    right:-2px; left:auto;
}  /* New added style */
.sidebar-preset .filter-preset ul li {
	margin: 2px 0;
}
.load-filter {
	padding: 36px 15px 22px;
}
.error-msg-filter .alert {
	margin: 20px 20px 0;
}
.save-filter .sidebar-preset {
	padding: 17px 15px 22px;
}
.save-filter h2 {
	font-size: 24px;
	line-height: normal;
	margin-bottom: 16px;
	margin-top: -2px;
}
.save-filter label {
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
}
.save-filter input[type="text"] {
	border: 1px solid #d3d3d3;
}
.save-filter .btn {
	display: inline-block;
	float: none;
	line-height: normal;
	vertical-align: top;
}
#sidebar .save-filter .btn.btn-blue {
	max-width: 100px;
}
.save-filter .btn-link {
	color: #3e3f37;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 6px;
	vertical-align: top;
}
.sidebar-preset .load-filter p {
	font-size: 14px;
	line-height: normal;
}
.save-filter .btn-link:hover, .save-filter .btn-link:focus {
	text-decoration: none;
}
.save-filter input[type="text"]:focus {
	box-shadow: none;
}
.load-filter.sidebar-preset ul {
	display: inline-block;
	margin-bottom: 10px;
	max-height: 319px;
	min-height: 20px;
	overflow: auto;
	width: 99%;
	margin-left: 0;
}
.load-filter ul li {
	border-bottom: 1px solid #ddd;
	padding-bottom: 2px;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	float: left;
	height: auto !important;
	line-height: 1.3;
	margin: 2px;
	width: 98%;
}
.load-filter ul li span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 82%;
	vertical-align: middle;
	font-size: 14px;
}
.load-filter li input[type="checkbox"] {
	display: inline-block;
	margin-right: 5px;
}
.load-filter ul li a {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	color: #000;
	font-size: 20px;
}
.save-filter .back-btn {
	margin-left: 0;
}
.filter-preset .caret {
	position: relative;
	right: -8px;
}
.save-filter .alert {
	margin: 20px 0 0;
	padding: 8px 33px 8px 14px;
}
.update-result {
	width: auto;
	margin: 20px 17px 0;
}
.update-result .btn-blue {
	text-align: center;
	margin-bottom: 0px;
}
.load-filter ul li.active {
	background-color: #73C4EE;
}
.save-filter .alert .close {
	top: 0;
}
.error-msg-filter .alert .close {
	top: 2px;
}
#DefaultFilters ul .ulFilterPreset-title {
	color: #3e3f37;
	display: block;
	font-size: 12px;
	padding-bottom: 3px;
	width: 100%;
}
.ulFilterPreset-title .fa.fa-long-arrow-down {
	padding: 0 10px 0 6px;
}
.sidebar-section {
	padding: 0 15px 22px 20px;
}
.scroll-section {
	height: auto;
}
.sidebar-section span.filter-header {
	display: block;
	font-size: 24px;
	padding-bottom: 0;
	padding-top: 8px;
}
/* Sidebar Accordian */
.accordion-inner {
	border-top: medium none !important;
	display: block;
}
.sidebar-section .accordion {
	margin-bottom: 0;
}
.sidebar-section .accordion-group {
	border: none;
	border-radius: 0;
	margin-bottom: 8px;
}
li.accordion-inner.close-list {
	background: none;
}
.indicator {
	display: block;
	margin-right: 5px;
	margin-top: 6px;
	width: 20px;
	height: 20px;
}
.sidebar-section .accordion-group .indicator {
	text-align: right;
	margin-right: 2px;
}
#ulSelectedFilter, #ulSelectedPlanFilter {
	max-height: 275px;
	overflow: auto;
	padding: 0 18px;
}
#ulSelectedFilter li, #ulSelectedPlanFilter li {
	line-height: 5px;
	margin: 2px 2px 6px;
	height: auto;
}
.sidebarliwidthSelected-left, .sidebarliwidthSelected-right {
	font-size: 14px !important;
	padding-bottom: 0 !important;
	line-height: 18px;
}
.sidebarliwidthSelected-left {
	font-weight: bold;
}
span.filter-count, span.filter-count > span {
	font-size: 14px !important;
}
span.filter-count {
	float: right;
}
#accordion-SelectedFilter, #accordion-SelectedPlanFilter {
	background: #f2f2f2 none repeat scroll 0 0;
	border: 1px solid #d3d3d3;
	border-radius: 6px;
	margin-bottom: 20px;
}
.sidebar-section .accordion-heading {
	border-bottom: 1px solid #ccc;
	padding: 0;
	position: relative;
}
.sidebar-section .sidebar_label, .sidebar-section h2 {
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	margin: 0;
	padding: 0 !important;
}
.sidebar-section .accordion-body.collapse {
	border-top: 0;
	border-bottom: 0;
}
.sidebar-section .accordion-body.collapse.in .scroll-list {
	border-bottom: 0 solid #d3d3d3;
	margin-top: 5px;
}
.sidebar-section ul, .sidebar-section ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-section ul li {
	height: auto;
	line-height: 20px;
	background: 0 0;
	margin: 2px 0 2px 2px;
}
.sidebar-section .accordion-group a {
	color: #3e3f37;
	font-size: 12px;
	text-decoration: underline;
	font-family: source_sans_prolight, Arial, sans-serif;
	float: right;
	padding-right: 2px;
}
.sidebar-section .accordion-group .list-tab {
	height: 34px;
	line-height: 32px;
	background-color: transparent;
}
.sidebar-section .accordion-group .list-tab ul {
	float: right;
	padding: 0 5px;
}
.sidebar-section .accordion-group .list-tab li {
	float: left;
	font-size: 12px;
	list-style: none;
	padding-left: 6px;
}
.sidebar-section .dropdown-menu li {
	margin: 2px 0;
}
.sidebar-section .dropdown-menu > li > a:hover, .sidebar-section .dropdown-menu > li > a:focus {
	background-color: #89CEDE;
	background-image: none;
}
.accordion-heading h2 .fa {
	font-size: 16px;
}
span.filter-count {
	float: right;
}
span.filter-count, span.filter-count > span {
	font-size: 14px;
	padding-bottom: 0;
}
/*  sidebar design  checkbox styling */
#Filtersidebar ul.scroll-list li input[type="checkbox"] {
	border: 1px solid #c8c6c6;
	border-radius: 2px;
	height: 15px;
	margin: 1px 5px 0 0; /*Again Modified by Bhumika #2055 21-3-2016 */
	opacity: 1;
	width: 15px;
	z-index: 2;
}
.chkbxfilter {
	float: right;
}
.sidebarliwidth {
	display: inline-block;
	font-size: 14px;
	height: auto;
	padding-bottom: 0;
	white-space: nowrap;
	width: 85%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sidebar-toogle-wrapper {
	padding: 20px 0 0 0;
}
.update-btn {
	margin-bottom: 18px;
	width: 100%;
}
.update-btn button {
	margin: 0;
}
#accordion-SelectedFilter, #accordion-SelectedPlanFilter {
	background: #f2f2f2 none repeat scroll 0 0;
	border-radius: 6px;
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
}
.sidebar-section #accordion-SelectedFilter .accordion-heading, .sidebar-section #accordion-SelectedPlanFilter .accordion-heading {
	border-bottom: 0 none !important;
	background: #e6e6e6 none repeat scroll 0 0;
	border-radius: 6px;
}
.sidebar-section #accordion-SelectedFilter .accordion-heading h2, .sidebar-section #accordion-SelectedPlanFilter .accordion-heading h2 {
	margin: 0 10px 0 20px;
}
#accordion-SelectedFilter .accordion-group, #accordion-SelectedPlanFilter .accordion-group {
	margin-bottom: 0 !important;
}
#accordion-2 {
	margin-bottom: 35px;
}
/* ==============  Container CSS =============== */
#planHeader.full-width-header {
	padding: 15px 0 5px 20px;
	position: relative;
}
.planheader-left {
	float: left;
	width: 46%;
	padding: 0;
	display: inline-block;
}
.planheader-right {
	float: right;
	width: 635px;
	/*max-width: 655px; 52.5%;*/
	padding-right: 15px;
}
#planHeader .planheader-title {
	float: left;
	width: 100%;
	padding: 38px 0 3px 0;
}
.plancart-box {
	display: inline-block;
	float: right;
	width: 100%;
}
.full-width-header .white-chart {
	border: 1px solid #ccc;
	float: right;
	height: 107px;
	margin-left: -1px;
	padding: 5px 10px 10px;
	text-align: center;
	width: 23.5%;/* 126px*/
	box-sizing: border-box !important;
}
.white-chart.activity-distribute {
	width: 30%; /*156px;*/
}
.full-width-header .white-chart #chart2 {
    margin-left: 38px !important;
}
.white-chart p {
	color: #95989A;
	font-size: 14px;
	margin-bottom: 0 !important;
}
.white-chart .white-chart-title {
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.white-chart .value {
	display: inline-block;
	margin: 15px auto 0;
	font-size: 24px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	height: 35px;
	line-height: 35px;
	color: #f8710e;
	font-weight: bold;
}
.white-chart .small-value {
	color: #559659;
	display: block;
	font-size: 14px;
}
.white-chart .graph {
	width: 146px;
	max-height: 70px;
	margin: 0 auto;
}
.planheader-title h5 {
	font-size: 34px;
	font-weight: normal;
	line-height: 40px;
	margin: 6px 0 7px;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.plan-selected {
	color: #95989a;
	padding: 22px 0 0 10px;
	float: left;
}
.new-btn-plan-left, .new-btn-plan-right {
	background: #fff none no-repeat scroll left center;
	border: 1px solid #c6c6c6;
	border-radius: 0 5px 5px 0;
	font-family: source_sans_proregular;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	display: inline-block;
	float: left;
	color: #3e3f37 !important; /* Edited for #2219 - Bhumika */
}
.new-btn-plan-middle
{
    background: #fff none no-repeat scroll left center;
	border: 1px solid #c6c6c6;
    border-right: 0;
	font-family: source_sans_proregular;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	display: inline-block;
	float: left;
	color: #3e3f37 !important; /* Edited for #2219 - Bhumika */
}
#ImportBtn {
    line-height: 30px;
    margin: 0;
    width: auto;
}
.new-btn-plan-left {
	border-radius: 5px 0 0 5px;
	border-right: 0;
}
.ix-icon-block .new-btn-plan-right {
	border-radius: 5px;
}
.ix-icon-block.round-corner .new-btn-plan-right {border-radius:0 5px 5px 0}/* When budget view display */  

.request-icon-block, .ix-icon-block {
	float: left;
	margin: 20px 0 0;
	position: relative;
}

.request-icon-block .fa, .ix-icon-block .fa {
	font-size: 16px;
}


.ix-icon-block span {
	font-size: 12px;
	padding-left: 3px;
}
.export-dd.dropdown-menu {
	border-radius: 3px;
	left: auto;
	min-width: 82px;
	right: 0;
}
.export-dd.dropdown-menu a {
	font-size: 12px;
}
.export-dd.dropdown-menu a:hover, .export-dd.dropdown-menu a:focus {
	background: #F4F4F4;
	color: inherit;
}
.P-icon-active, .new-btn-plan-left:hover, .new-btn-plan-right:hover, .new-btn-plan-middle:hover{
	/*background-color: #f0f0f0 !important;
	color: inherit !important;*/
    background-color: #abd7e1 !important;
    color: #fff !important;
}
.viewby-wrap {
	float: left;
}
.viewby-wrap label {
	font-size: 12px;
	display: block;
	margin-bottom: 0;
}
#ddlUpComingActivitesSelectBox {
	float: left;
}
.viewby-wrap .sbHolder, .viewby-wrap .ui-multiselect {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	box-shadow: none;
	min-height: 29px;
    /*min-width: 100px;*/
    width: 100px;
}
.viewby-wrap button.ui-multiselect{margin:0;  padding: 0 14px 0 0;}
.viewby-wrap button.ui-multiselect span{font-size:12px}
.viewby-wrap .ui-multiselect.ui-widget.ui-state-default.ui-corner-all span {
	margin-left: 10px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
    color: inherit;
    font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;
}
.ui-multiselect.ui-widget.ui-state-default.ui-corner-all span[class] {
	width: 0;
}
.viewby-wrap .ui-multiselect .ui-icon{border-top: 4px solid #3e3f37;}
.viewby-wrap .sbHolder .sbSelector {
	line-height: 29px;
}

.ix-icon-block, .viewby-wrap{margin-left:9px}

.goals-wrapper {
	background: #e6e6e6;
	font-family: source_sans_prosemibold;
	font-size: 14px;
	margin: 5px 0;
	display: inline-block;
	float: right;
	width: 100%;
}
.goal-content {
	display: inline-block;
	padding: 0 0 0 12px;
}
.goals-wrapper span {
	font-size: 13px;
	line-height: 30px;
	padding: 2px;
}
.goals-wrapper .goal-text {
	background: #ccc;
	color: #3e3f37; /* Edited for #2219 - Bhumika */
	padding: 0 12px;
	display: inline-block;
	font-family: source_sans_probold;
}
/* Grid Table */
.table-wrapper {
	margin: 0 15px 0 20px;
}
.improvement-grid-wrapper {
	margin-bottom: 5px;
	margin-top: 70px;
}
.manageviewicon .fa {
	color: #ccc
}
div.gridbox_dhx_skyblue.gridbox table.hdr td:hover .fa {
	color: #F8710E
}
/* vIEWbY POPUP Style */
.addview-popup.modal {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	border-radius: 0;
	height: 100%;
	opacity: 1;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: 0;
}
.addview-popup .modal-dialog {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 8% auto 0;
	width: 745px;
}
.addview-popup {
	padding-bottom: 20px;
	z-index: 2501;
}
.addview-popup .modal-body {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 5px 10px 20px;
}
.addview-popup .modal-header {
	border-bottom: 0;
	padding: 0px 15px;
}
.category {
	margin-bottom: 20px;
}
.category input[type="checkbox"] {
	margin: 0 5px 0 0;
}
.category .category-title input[type="checkbox"] {
	margin: -2px 5px 0 0;
}
.addview-title input {
	width: 280px;
}
.category-title .entity-type {
	font-weight: normal;
	font-size: 16px;
}
.category-title-right {
	color: #f8710e;
	cursor: pointer;
	float: right;
	font-size: 12px;
	padding-right: 15px;
}
.category-block {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 5px 5px 10px 20px;
	padding: 4px 3px 15px;
}
.category-title .all-check {
	float: left;
	font-size: 11px;
	line-height: 9px;
}
.entity-check {
	display: inline;
	float: left;
	width: 20px;
}
.category-title .entity-type {
	font-size: 16px;
	font-weight: normal;
}
.chkAttributes-block {
	display: inline-block;
	width: 24.5%;
	padding: 2px 5px;
}
.attr-fildname {
	background: #fff none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
}
.category input.attr-checkbox {
	float: left;
	margin-top: 4px;
}
.addview-bottom {
	text-align: center;
	padding: 0 5px;
}
.btm-link {
	padding-top: 10px;
	display: inline-block
}
.addview-bottom .btm-link a {
	font-size: 12px;
	color: #95989a;
	display: inline-block;
	padding-right: 2px
}
.addview-bottom button, .addview-bottom .btm-link {
	display: inline-block;
}
.addNewViewLink {
	background: #f2f2f2 none repeat scroll 0 0;
	color: inherit;
	display: inline-block;
	font-size: 12px;
	margin: 5px 0;
	padding: 3px;
	text-align: center;
	width: 100%;
	border-radius: 3px;
}
.addNewViewLink:hover {
	background: #E5E5E5;
}
.category-title-right:after {
	content: "\f107";
	font: normal normal normal 12px/1 FontAwesome;
	display: inline-block;
}
.category-title-right.show-fa:after {
	content: "\f104";
}
.manageviewicon .fa {
        color: #fff;
        margin-left: 5px;
    } 
/*============= Footer Css ===================== */
footer {
	display:none
}
.footer {
	width:calc(100% - 291px);
	text-align: center;
	position: absolute;
    bottom: 0;
    right:0;
    left:0;
    margin:5px auto 5px 281px;
    z-index:0;
}
.footer > span {
	background: transparent none repeat scroll 0 0;
    border-top:none;
	color: #3e3f37;
	display: inline-block;
	font-size: 12px;
}
.footer a {
	color: #3e3f37;
	margin: 0 5px;
	text-decoration: underline;
}
/* ============ Grid & Calendar View ========== */
/*.task-tbl {position:relative}*/
.task-tbl{width: 100%; padding:0 15px 0 20px;margin:0}
.changeView-wrap{
    width:20px; float:right; height:0; position:relative
}
.changeView{
    height: 25px;
    padding: 3px;
    /*position: fixed;
    right: 9px;
    top: 266px;*/
    width: 25px;
    z-index: 1;
    position: absolute;
    right: -8px;
    top: -11px;
}
.changeView .fa{  color: #3e3f37;font-size: 22px; background: #fff none repeat scroll 0 0;}
.task-tbl #divgridview table, 
.task-tbl #GridGanttContent .gantt_container,
.task-tbl #GridGanttContent .gantt_container .gantt_tree_content{font-family:'source_sans_proregular', Arial, sans-serif !important; font-size:14px; font-weight:normal !important}
.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr td{font-family:'source_sans_proregular', Arial, sans-serif !important;font-size:13px;}
.grid_add,  .gantt_add,
.grid_Search{
background-image: none ;
width: 22px;
cursor: pointer;
}
.grid_add .fa.fa-plus-circle,  .gantt_add .fa,
.grid_Search .fa{
color: #9c9fa0;
font-size: 18px;
}
.grid_add .fa.fa-plus-circle,  .gantt_add .fa{font-size: 19px;}
/*.grid_Search .fa{font-size: 15px;}*/
.grid_add:hover .fa.fa-plus-circle, 
.gantt_add:hover .fa, 
.grid_Search:hover .fa {
color: #89CEDE;
}

.rowselected .grid_add:hover .fa.fa-plus-circle, .rowselected .grid_Search:hover .fa{color:#9c9fa0}
.task-tbl #GridGanttContent .grid_add, .task-tbl #GridGanttContent .grid_Search {
	margin-top: 1px; /*by bheru mehta 09-12-2015*/
}

/* For odd row color */
/*.task-tbl #divgridview.budget-grid .odd_dhx_skyblue,*/
.task-tbl .gantt_task_row.odd {background:#f2f2f2}

#divgridview #gridbox div:nth-child(2) > .objbox table.obj tr:nth-child(odd){
    background-color: #fff;
}
#divgridview  #gridbox div:nth-child(2) > .objbox table.obj tr:nth-child(even){
    background:#f2f2f2 !important;
}
/* =============== Calendar View CSS =============== */
.task-tbl #divgridview, .task-tbl #GridGanttContent {
    overflow:hidden !important;width: 100%;margin:0; height:64.5vh; 
}
.task-tbl #GridGanttContent .gantt-padding.lenght-div{min-height:100% !important;}
.task-tbl .calendar-gant-table{height:100% !important}
/*.task-tbl #GridGanttContent {
    border: 1px solid #ccc;
}*/

/*.task-tbl .gantt_task{padding-left:1px}*/
.task-tbl .gantt_grid{margin-left:1px}

.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr td div.hdrcell{text-align: center;}

.task-tbl .gantt_grid .gantt_grid_scale, 
.task-tbl .gantt_task .gantt_task_scale{
    height:55px !important; 
    font-weight:normal !important; 
    border-bottom: 2px solid #D4D4D4;
}
.task-tbl .gantt_task .gantt_scale_line:first-child {height:23px !important;  line-height:23px !important}

.task-tbl .gantt_task  .gantt_task_scale  .gantt_scale_cell{
    font-family: Tahoma,Helvetica;
    font-weight: bold;
    padding-left:0;
    text-align:center;
    font-size: 12px;
}
.task-tbl .gantt_task > .gantt_task_scale > .gantt_scale_line:first-child > .gantt_scale_cell {font-size:11px !important; }
.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr tr:nth-child(2) td:nth-child(4){min-width:350px !important}
.task-tbl .gantt_task_scale .gantt_scale_cell {
    font-family: Tahoma,Helvetica;
    font-weight: bold;
    padding-left:0;
}
/* =========== Grid and Budget  View CSS ======== */

.task-tbl #divgridview .xhdr, .task-tbl #divgridview .hdr{ height: 54px !important; }
.task-tbl #divgridview.budget-grid .xhdr, .task-tbl #divgridview.budget-grid .hdr{ height: 54px !important; }
.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr{height:auto !important; }
.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr td {
    vertical-align: middle;
}

.task-tbl div.gridbox_dhx_skyblue.gridbox table.obj.row20px tr td {
    text-align: center;
}
.task-tbl table.obj.row20px tr td .treegrid_cell{text-align: left;}
.task-tbl table.obj.row20px tr td .treegrid_cell a{color:#000}
.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr td div.hdrcell {
    color: #808080;
    /*font-family: "source_sans_proregular",Arial,sans-serif ;
    font-size: 14px;*/
    font-weight: bold;
    padding: 0 3px;
    width: auto;
}

.task-tbl  #divgridview #gridbox { min-height:100%; border:0 !important}
.task-tbl  #divgridview {
    border: 1px solid #ccc;
}
.task-tbl div.gridbox_dhx_skyblue.gridbox div.xhdr table.hdr {
    width: 100% !important;
}
.task-tbl #gridbox.financeReportGrid div.objbox table tr td{text-align:center}
.task-tbl .market-activity-main .btn-dropdwn{position: absolute; top: 40px; z-index: 11;}

/*#divgridview.budget-grid #gridbox table.hdr tr td{padding:0 !important; line-height: 13px !important;}*/
#divgridview.budget-grid #gridbox table.hdr tr:nth-child(2), #divgridview.budget-grid #gridbox div:nth-child(2) table.hdr tr:nth-child(2) {
    /*height: 19px !important;*/
    /*line-height: 19px !important*/
}
#divgridview.budget-grid #gridbox table.hdr tr:nth-child(3), #divgridview.budget-grid #gridbox div:nth-child(2) table.hdr tr:nth-child(3) {
    /*height: 35px !important;*/
    line-height: 13px !important
}
/*#divgridview.budget-grid #gridbox table.hdr{height:auto !important}*/

#divgridview  #gridbox div:nth-child(2) > .objbox table.obj{width:100% !important}/* specilly applied on Budget grid*/

.task-tbl div.gridbox_dhx_skyblue.gridbox table.hdr tr:first-child{height:0 !important}
#divgridview.budget-grid div:nth-child(2) > .objbox table.obj{margin-right: 20px !important;}

/*#divgridview.budget-grid div.gridbox table.hdr {
    -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}*/
/* #2607 Resolve column alignment issue on Budget grid when less column and scroll appear */

#divgridview.budget-grid div.gridbox table.hdr {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  padding-right:0 !important;
  
}
#divgridview.budget-grid div.gridbox.border-box table.hdr {
    -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding-right:20px !important
}

/* ============== Search box CSS ================ */
/*#divgridview .xhdr{ height: 37px !important; }*/

#exp-serach{
    position: absolute;
    margin-top: 1px;
    width:312px;
    background: #fff none repeat scroll 0 0;
    z-index:22;
}
.input-group-btn {
	float: left;
}
.input-group-btn .dropdown-menu ul {
	margin: 0;
	list-style: outside none;
}
.input-group-btn .dropdown-menu {
	background-color: #fff;
	border: 1px solid #dbded7;
	border-radius: 5px;
	float: left;
	min-width: 140px;
	padding: 5px 0;
}
.input-group-btn  .dropdown-menu a {
	display: block;
	padding: 0 10px; color:inherit; font-size:12px
}
.input-group-btn  .dropdown-menu a:hover {
	background: #f5f5f5;
}

.ExpIcon{
    background: transparent none repeat scroll 0 0;
    color: #9c9fa0;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin: 0;
    padding: 13px 0 0;
    position: static;
    text-align: center;
    width: 35px;
	-webkit-font-smoothing: antialiased;
}

.input-group-btn  .fa {
	font-size: 14px;
	color: #3e3f37;
}

#searchCriteria {
	margin-bottom: 0;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	width: 45px;
	/*height: 38px !important;*/
}
.open #searchCriteria {
	background: #89CEDE;
}
#searchCriteria span {
	color: #fff;
}
#searchCriteria::after {
	content: "\f0d7";
	font-family: fontawesome;
	padding-left: 3px;
	width: 35px;
}
#txtGlobalSearch {
	border: 0 none;
	border-radius: 0;
	/*height: 38px;*/
	margin: 0;
	background: transparent;
	outline: 0 !important;
	display: inline;
	box-shadow: none;
	width: 72%;
	font-size: 12px;
    float:left;
}
#exp-serach, #searchCriteria, #txtGlobalSearch{height: 54px !important;}


/* #2624 Revert changes so Hide all new css here */
/* ============== Inspection Window new style ================= */ 
/*#modal-container-186470 {
	padding: 0;  background:rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
}
.headerfix-wraper {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    position:static;
    z-index:0;
}
.partial_wrapper.new-wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 65.8%;
    left: auto;
    margin: auto;
    overflow: auto;
    overflow-x:hidden;
    position: absolute;
    right: 15px;
    top: 278px;
    min-width: 1070px;
    width:62%;
    z-index: 99999;
    padding-bottom:15px;
}
.slideLeft#content_wraper  .partial_wrapper.new-wrapper{
	width: 75.5%
} /* When sidbar Hide */
/*.pop-body-wraper {
    float: left;
    height: auto !important;
    margin: 0 auto;
    min-width: 800px;
    overflow: visible;
    width: 100%;
}
.pop-body-wraper .PopupDiv {
    width: 1050px;
    margin:0 auto;
}
.pop-body-wraper, .PopupDiv {
	width: 100% !important
}

.pop-body-wraper > form, .PopupDiv > form {
    margin:8px 0;
}
.headerfix-wraper .headefix h2.title-simple {
    display: table;
    margin: 0;
    width: 100%;
}*/
.modal-popup-title {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 8px;
}
.modal-popup-title h2 {margin: 0 0 0 4%;}

h2.title-simple .Save-icon-white.btn-blue, 
h2.title-simple .add-icon-white.btn-blue,
h2.title-simple button {margin-bottom:0}

.modal-popup-title h2 input{
    color: #4d4d4d;
    display: block;
    font-family: "source_sans_prolight",Arial,"sans-serif";
    font-size: 22px !important;
    height: 25px !important;
    line-height: normal;
    margin-bottom: 0;
    width: 95%;
}
.modal-popup-summary .nl-form {
    font-size: 22px !important;
    line-height: 20px;
}
.modal-popup-summary .nl-form .modal-status {
    padding: 0;
}
.inspect-column-parent{padding:0 8px !important}
/*.headefix .close-x-big-icon {
    background-size: 21px auto !important;
    border: 0 none;
    outline: 0 none !important;
    position: absolute;
    right: -37px;
    top: -6px;
}
.partial_wrapper.new-wrapper .headefix .close-x-big-icon {
    background: none !important;
    cursor: pointer;
    float: none;
    height: 30px;
    width: 25px;
    position: fixed;
    right: 3px;
    top: 265px;
    display: inline-block;
    font: normal normal normal 22px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    z-index:3000;
    color: #3e3f37;
}
.partial_wrapper.new-wrapper .headefix .close-x-big-icon:after{
    content: "\f057";
}*/
/*.headefix > .title-simple > span{
    float: right;
    margin-right: 18px;
}*/
/* ============== Inspection Window new style End ================= */ 
#multipleselect_ddlTabViewBy{max-width:250px !important}
#MessageDisplay{ 
    margin: 0 auto 0 40px;
    position: absolute;
    width: calc(100% - 332px);
    z-index: 1;
}

.dhx_clist {
    border: 1px solid #aaa !important;
    border-radius: 5px;
    height: 120px !important;
    overflow: auto;
    padding: 2px 2px 4px 10px !important;
    width: 150px;
    z-index: 300;
}
.dhx_clist label {
    padding-left: 20px;
    text-align: left;
    font-family: source_sans_prosemibold,Arial,sans-serif;
    font-size: 13px ;
    line-height: 20px;
    color:#333;
    margin-bottom: 0;
}
.dhx_clist input {
    float: left;
}
.dhx_clist > div >input[type="button"] {
    margin:5px auto 0 15px;
    backface-visibility: hidden;
    color: #f4f5ed;
    text-shadow: none !important;
    background: #89cede none repeat scroll 0 0;
    border: medium none !important;
    box-shadow: none;
    display: block;
    border-radius:4px;
    display:none;
}
body.reverse .dhx_combo_select{margin-top:-150px !important}
body.reverse .dhx_clist{margin-top:-150px !important}

/************************************************ Responsive css start here **********************************************************/
@media (max-width: 1600px) {
.task-tbl #divgridview, 
.task-tbl #GridGanttContent {
    height: 59vh; 
}
/*.partial_wrapper.new-wrapper{height:61%}*/
}
@media screen and ( max-height: 600px ){
    .task-tbl #divgridview, 
    .task-tbl #GridGanttContent {
    height: 49vh; 
}
    }

@media (max-width: 1550px) {
.new-btn-plan-left, .new-btn-plan-right, .new-btn-plan-right {
	padding: 0 8px;
}
.goals-wrapper span {
	font-size: 12px;
}
.goal-content {
	padding: 0 0 0 10px;
}
}

@media (max-width: 1499px) {
.planheader-right {
    width: 52.5%;
}

}

@media screen and (max-width: 1400px) {
.planheader-left {
	width: 49%;
}
.planheader-right {
	width: 50%;
	max-width: none;
}
.white-chart .value {
	font-size: 20px;
}
.full-width-header .white-chart #chart2 {
    margin-left: 22px !important;
}
.goals-wrapper span {
	font-size: 11px;
}
.goals-wrapper .goal-text {
	padding: 0 5px;
}
.goal-content {
	padding: 0 0 0 2px;
}
}

@media screen and (max-width: 1366px) {
.planheader-title h5 {
	font-size: 20px;
}
#planHeader #nl-form2 a.nl-field-toggle {
	font-size: 25px;
}
.full-width-header .plantitle .nl-field-toggle {
	max-width: 185px;
}
.report-btn-group {
	padding: 1% 0 0 2%;
}
}

@media screen and (min-width: 1280px) and  (max-width: 1280px) {
    /*body {
        overflow-x: auto !important;
        overflow-y: auto !important;
    }*/
   
}
@media (max-width: 1279px) {
    body {
        overflow-x: auto !important;
        overflow-y: hidden !important;
    }
    

    .task-tbl #divgridview, .task-tbl #GridGanttContent {
    height: 31vh;
}

.container-fluid {
	min-width: 1280px !important;
}
.footer span{font-size:11px; }
.footer{margin-top:2px}

.home-header {
	width: 50%;
}
.planheader-left {
	width: 100%;
	padding-top: 15px;
}
.planheader-right {
	width: 100%;
	float: left;
}
.plancart-box {
	float: left;
	max-width: 615px;
}
.full-width-header .white-chart {
	/*width: 20.6%;*/
}
.white-chart.activity-distribute {
	/*width: 156px;*/
}
.full-width-header .white-chart #chart2 {
    margin-left: 38px !important;
}
#planHeader .planheader-title {
	padding: 0;
}
.planheader-title h5 {
	line-height: 25px;
}
.plan-selected {
	padding-top: 11px;
}
.goals-wrapper span {
	font-size: 11px;
}
.goals-wrapper .goal-text {
	padding: 0 12px;
}
.goal-content {
	padding: 0 0 0 5px;
}
}


@media screen and (max-width: 1279px) and ( max-height: 600px ){
    .task-tbl #divgridview, 
    .task-tbl #GridGanttContent { height: 29vh; } 
}

@media (max-width: 1023px) {
.container-fluid {
    min-height: 100%;position:relative;
}
.footer {    
    display: inline-block;
    margin: 5px auto;
    padding-left: 281px;   
    width: 100%;
}
}