<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="mailSettings">
      <section name="smtp_other" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MRPEntities" connectionString="metadata=res://*/Models.MRP.csdl|res://*/Models.MRP.ssdl|res://*/Models.MRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rack-db.bulldogsolutions.local;Integrated Security=SSPI;Initial Catalog=BulldogMRP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BDSApplicationCode" value="1c10d4b9-7931-4a7c-99e9-a158ce158951" />
    
    <add key="EloquaResponseFolderPath" value="D:\Gameplan\Eloqua\" />
    <!--SMTP settings for sending email-->
    <add key="FromMail" value="sohel.pathan@indusa.com" />
    <add key="FromAlias" value="sohel.pathan@indusa.com" />
    <!-- Integration sync error email to -->
    <add key="IntegrationErrorMailTo" value="sohel.pathan@indusa.com" />
    <!-- Custom Name Limit set Start -->
    <add key="CustomNameLimitSet" value="79" />
    <!-- Custom Name Limit set End -->
    <add key="EnableTLS1AndHigher" value="false" />
    <add key="LogRecordSize" value="10" />
    <add key="IntegrationApi" value="http://121.244.200.162:8085/IntegrationApi/" />
  <add key="IntegrationPushRecordBatchSize" value="10" />
  </appSettings>
  <mailSettings>
    <!--SMTP settings to be used for notification email-->
    <smtp_other from="sohel.pathan@indusa.com">
      <network host="pod51022.outlook.com" port="587" enableSsl="true" password="12345" userName="sohel.pathan@indusa.com" />
    </smtp_other>
  </mailSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBDSService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BDSService/BDSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDSService"
        contract="BDSService.IBDSService" name="BasicHttpBinding_IBDSService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>