
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id(N'INT.PullActuals') AND xtype IN (N'P'))
    DROP PROCEDURE [INT].[PullActuals]
GO

CREATE PROCEDURE [INT].PullActuals(@DataSource NVARCHAR(255), @StageTitle NVARCHAR(255),  @ClientID NVARCHAR(255), @UserID NVARCHAR(255))
AS
BEGIN

	DECLARE @CustomQuery NVARCHAR(MAX)
		
	--DELETE, UPDATE AND INSERT plan tactic actuals for stage title ProjectedStageValue which match with measure sfdc tactics	
	SET @CustomQuery='
	
		DELETE A
		FROM dbo.Plan_Campaign_Program_Tactic_Actual A JOIN dbo.Plan_Campaign_Program_Tactic T ON T.PlanTacticId = A.PlanTacticId
				LEFT JOIN ' + @DataSource + ' R ON R.PulleeID = T.IntegrationInstanceTacticId 
		WHERE  A.ModifiedBy = ''' + @UserID + ''' AND A.StageTitle = ''' + @StageTitle + ''' AND R.PulleeID IS NULL 

		UPDATE dbo.Plan_Campaign_Program_Tactic_Actual
		SET Actualvalue = V.ActualValue
			, ModifiedBy = ''' + @UserID+ ''' 
			, ModifiedDate = GETDATE()
		FROM dbo.Plan_Campaign_Program_Tactic T JOIN ' + @DataSource + ' V ON V.PulleeID = T.IntegrationInstanceTacticId
		WHERE dbo.Plan_Campaign_Program_Tactic_Actual.PlanTacticId = T.PlanTacticId
			  AND dbo.Plan_Campaign_Program_Tactic_Actual.StageTitle = V.StageTitle
			  AND dbo.Plan_Campaign_Program_Tactic_Actual.Period = [INT].Period(T.StartDate, V.ModifiedDate) 

		INSERT INTO  dbo.Plan_Campaign_Program_Tactic_Actual 
		SELECT T.PlanTacticId
				, V.StageTitle
				, [INT].Period(T.StartDate, V.ModifiedDate)
				, V.ActualValue
				, GETDATE()
				, ''' + @UserID + '''
				, GETDATE()
				, ''' + @UserID + '''
		FROM dbo.Plan_Campaign_Program_Tactic T JOIN ' + @DataSource + ' V ON V.PulleeID = T.IntegrationInstanceTacticId
			 LEFT JOIN dbo.Plan_Campaign_Program_Tactic_Actual A ON A.PlanTacticId = T.PlanTacticId AND A.StageTitle = V.StageTitle AND A.Period = [INT].Period(T.StartDate, V.ModifiedDate) 
		WHERE A.StageTitle IS NULL 

	'

		EXEC (@CustomQuery)

END